# Set URL for your scoped packages.
# For example package with name `@foo/bar` will use this URL for download
npm config set @infosum:registry https://gitlab.infosum.io/api/v4/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
# `@foo/` packages from private projects.
npm config set -- '//gitlab.infosum.io/api/v4/packages/npm/:_authToken' $INFOSUM_NPM_TOKEN