{
  "swagger": "2.0",
  "info": {
    "title": "InfoSum Developer API",
    "description": "This page contains the documentation for the InfoSum Developer API. The methods allow you to try making requests and inspect the input and output formats.",
    "termsOfService": "https://www.infosum.com/legals/website-terms",
    "version": "2.0",
    "contact": {
      "name": "InfoSum Support",
      "email": "support@infosum.com"
    }
  },
  "schemes": [
    "https"
  ],
  "servers": [
    {
      "url": "https://api.infosum.com",
      "description": "Production"
    },
    {
      "url": "https://api.integration.k8s.is",
      "description": "Integration"
    }
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "externalDocs": {
    "description": "Official documentation",
    "url": "https://docs.infosum.com/"
  },
  "paths": {
    "/api/v2/bunker/import/import-connector-configs": {
      "get": {
        "summary": "List Import Connector Config.",
        "description": "List available Import Connector Configs.",
        "operationId": "ImportConnectorConfigsList",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "configs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Output only. ID is the globally unique ID of the import connector config.",
                        "readOnly": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Name is the display name given to this import connector config."
                      },
                      "description": {
                        "type": "string",
                        "description": "Description is an optional description given to this import connector config."
                      },
                      "s3_cross_account": {
                        "type": "object",
                        "properties": {
                          "bucket": {
                            "type": "string",
                            "description": "Bucket is the name of the S3 Bucket."
                          },
                          "prefix": {
                            "type": "string",
                            "description": "Prefix is the prefix of files."
                          },
                          "cross_account": {
                            "description": "CrossAccount is the type of auth.",
                            "type": "object",
                            "properties": {
                              "user_arn": {
                                "type": "string",
                                "description": "UserArn is the Amazon Resource Name (ARN) of the role to assume."
                              },
                              "session_name": {
                                "type": "string",
                                "description": "Session name is the identifier of the session."
                              },
                              "principal": {
                                "type": "string",
                                "description": "Output only. Principal is the principal for the trust relationship.",
                                "readOnly": true
                              },
                              "external_id": {
                                "type": "string",
                                "description": "Output only. ExternalId is the external ID for the trust relationship.",
                                "readOnly": true
                              }
                            }
                          },
                          "filenames": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Filenames can be a pattern or an exact file to allow multiple files to be specified."
                          }
                        },
                        "description": "S3CrossAccountProvider is the information about the connector that can be returned."
                      },
                      "gcs_secret_auth": {
                        "type": "object",
                        "properties": {
                          "bucket": {
                            "type": "string",
                            "description": "Bucket is the name of the GCS Bucket."
                          },
                          "prefix": {
                            "type": "string",
                            "description": "Prefix is the prefix of files."
                          },
                          "filenames": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Filenames can be a pattern or an exact file to allow multiple files to be specified."
                          }
                        },
                        "description": "GCSSecretAuthProvider is the information about the connector that can be returned."
                      },
                      "created_date_time": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Output only. CreatedDateTime is the date and time the import connector config was created.",
                        "readOnly": true
                      },
                      "updated_date_time": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Output only. UpdatedDateTime is the date and time the import connector config was last updated.",
                        "readOnly": true
                      },
                      "user_id": {
                        "type": "string",
                        "description": "Output only. UserId is the ID of the user who created the import connector config.",
                        "readOnly": true
                      }
                    },
                    "description": "Config is the information that can be retrieved about an import connector config."
                  }
                },
                "pagination": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Results is the count of the returned results."
                    },
                    "total_results": {
                      "type": "integer",
                      "format": "int32",
                      "description": "TotalResults is the total number of results available."
                    },
                    "next_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "NextPage is the next page to view."
                    }
                  },
                  "description": "PaginationResponse holds information on the returned records."
                }
              },
              "description": "ListResponse is the output of the List method."
            }
          },
          "401": {
            "description": "Returned when the user could not be authorized.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "title": "Message contains details about the error"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Metadata contains information that is used to flesh out the translated\nLocationisationId message"
                },
                "request_id": {
                  "type": "string",
                  "title": "RequestId is a unique ID for the request"
                },
                "error_code": {
                  "title": "ErrorCode is an error code which can be translated into an error message in\nthe user's language",
                  "type": "string",
                  "enum": [
                    "INTERNAL",
                    "UNAUTHENTICATED",
                    "ACCOUNTS_REQUIRE_FEATURE_FLAG",
                    "ACCOUNTS_REQUIRE_COMPANY_RIGHT",
                    "MISSING_REQUIRED_FIELD",
                    "ACCOUNTS_REQUIRE_COMPANY",
                    "EMPTY_PAYLOAD",
                    "ACTIVATION_QUERY_NOT_FOUND",
                    "COHORT_VERSION_NOT_FOUND",
                    "DATASET_NOT_FOUND",
                    "UNIMPLEMENTED",
                    "INVALID_ARGUMENT",
                    "DESTINATIONS_NOT_FOUND",
                    "DESTINATIONS_INVALID_CONNECTOR",
                    "DESTINATION_UNKNOWN_AUTH_TYPE",
                    "DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME",
                    "DESTINATIONS_INVALID_PAGINATION_INPUT",
                    "DESTINATIONS_ALREADY_EXISTS",
                    "ICC_INVALID_ARGUMENT",
                    "ICC_MALFORMED_INPUT",
                    "ICC_NOT_FOUND",
                    "ICC_PERMISSION_DENIED",
                    "ICC_UNIQUE_NAME_VIOLATION",
                    "ICC_IN_USE_CANNOT_BE_DELETED",
                    "ICC_ID_MUST_BE_EMPTY",
                    "ICC_CANNOT_BE_UPDATED",
                    "TRANSFORM_FAILED",
                    "TRANSFORM_INVALID",
                    "TRANSFORM_FAILED_WRITE",
                    "TRANSFORM_EXCEEDED_ROW_ERRORS",
                    "IMPORTS_ID_MUST_BE_EMPTY",
                    "IMPORTS_UNIQUE_NAME_VIOLATION",
                    "IMPORTS_NOT_FOUND",
                    "IMPORTS_EXECUTION_BUNKER_NOT_FOUND",
                    "IMPORTS_CANNOT_CANCEL_TASK",
                    "IMPORTS_EXECUTION_TASK_NOT_FOUND",
                    "IMPORTS_CANNOT_BE_DELETED",
                    "IMPORTS_CANNOT_BE_UPDATED",
                    "UNSUPPORTED_FILTER_FIELD_NAME",
                    "UNSUPPORTED_ORDER_BY_FIELD_NAME",
                    "INVALID_FILTER_INPUT",
                    "INVALID_UPDATE_MASK_FIELD_NAME",
                    "API_MALFORMED_INPUT",
                    "INVALID_INPUT_VALUE",
                    "BAD_PAGE_SIZE",
                    "FILE_METADATA_NOT_FOUND",
                    "FILE_METADATA_IN_USE",
                    "FILE_METADATA_DELETED",
                    "FILE_METADATA_ALREADY_STRUCTURED",
                    "FILE_NOT_FOUND",
                    "TASK_NOT_FOUND",
                    "TASK_CANNOT_CANCEL",
                    "FILEVAULT_NOT_FOUND",
                    "BUNKER_NOT_FOUND",
                    "EXPORT_FAILED",
                    "EXPORT_FILE_EXISTS",
                    "EXPORT_TIMEOUT",
                    "EXPORT_S3_ERROR",
                    "EXPORT_S3_INVALID_ARGUMENT",
                    "EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS",
                    "EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT",
                    "EXPORT_S3_BUCKET_PUBLIC",
                    "EXPORT_TRADE_DESK_ERROR",
                    "EXPORT_TRADE_DESK_INVALID_ID",
                    "EXPORT_TRADE_DESK_INVALID_SECRET",
                    "EXPORT_SFTP_ERROR",
                    "EXPORT_SFTP_INVALID_CREDENTIALS",
                    "EXPORT_SFTP_INVALID_SSH_KEY",
                    "EXPORT_SFTP_CREATE_DIRECTORY_ERROR",
                    "EXPORT_SFTP_CREATE_FILE_ERROR",
                    "EXPORT_SFTP_NO_SUCH_HOST",
                    "EXPORT_SFTP_CONNECTION_REFUSED",
                    "EXPORT_GCS_ERROR",
                    "EXPORT_PUBMATIC_ERROR",
                    "EXPORT_PUBMATIC_PARTIAL_ERROR",
                    "EXPORT_PUBMATIC_UNREGISTERED_SEG",
                    "EXPORT_PUBMATIC_DPID_NOT_SUPPORTED"
                  ],
                  "default": "INTERNAL",
                  "description": "ErrorCode list possible api error codes.\n\n - INTERNAL: INTERNAL is used when no other error applies.\n - UNAUTHENTICATED: General errors\nUNAUTHENTICATED is used when the user is not authenticated.\n - ACCOUNTS_REQUIRE_FEATURE_FLAG: ACCOUNTS_REQUIRE_FEATURE_FLAG is returned when a user doesn't have the\nrequired feature flag enabled.\n - ACCOUNTS_REQUIRE_COMPANY_RIGHT: ACCOUNTS_REQUIRE_COMPANY_RIGHT is returned when a company user doesn't have\nthe required RIGHT to perform the request. The required right should be\nincluded in the error metadata as \"required_right\"\n - MISSING_REQUIRED_FIELD: MISSING_REQURIED_FIELD is return when a required field is missing in a\nrequest. The name of the required field should be included in error\nmetadata as \"required_field\".\n - ACCOUNTS_REQUIRE_COMPANY: ACCOUNTS_REQUIRE_COMPANY is returned when an endpoint requires the user be\npart of a company\n - EMPTY_PAYLOAD: EMPTY_PAYLOAD is returned when a payload is empty but is required.\n - ACTIVATION_QUERY_NOT_FOUND: ACTIVATION_QUERY_NOT_FOUND is returned when a activation query can not be\nfound.\n - COHORT_VERSION_NOT_FOUND: COHORT_VERSION_NOT_FOUND is returned when a cohort version can not be\nfound.\n - DATASET_NOT_FOUND: DATASET_NOT_FOUND is returned when a dataset can not be found.\n - UNIMPLEMENTED: UNIMPLEMENTED is returned when a path and/or method is unimplemented.\n - INVALID_ARGUMENT: INVALID_ARGUMENT is returned when a supplied field is invalid.\nThe name of the invalid field should be included in error metadata as\n\"invalid_field\". The reason why of the field is invalid should be included\nin error metadata as \"validation_message\".\n - DESTINATIONS_NOT_FOUND: Destination errors\nDESTINATIONS_NOT_FOUND is Returned when a destination can not be found.\n - DESTINATIONS_INVALID_CONNECTOR: DESTINATIONS_INVALID_CONNECTOR is returned when an invalid connector is\nprovided for destinations.\n - DESTINATION_UNKNOWN_AUTH_TYPE: DESTINATION_UNKNOWN_AUTH_TYPE is returned when an unknown authentication\ntype is provided for a destination.\n - DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME: DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME is returned when an\nunsupported field name is provided to sort the results by. The name of the\nunsupported field should be included in error metadata as\n\"unsupported_field\".\n - DESTINATIONS_INVALID_PAGINATION_INPUT: DESTINATIONS_INVALID_PAGINATION_INPUT is returned when an invalid\npagination input is provided for listing.\n - DESTINATIONS_ALREADY_EXISTS: DESTINATIONS_ALREADY_EXISTS is returned when an user tries to create a\ndestination that doesn't conform to the unique constraints.\n - ICC_INVALID_ARGUMENT: ICC_INVALID_ARGUMENT is returned when an ICC contains an invalid field\n - ICC_MALFORMED_INPUT: ICC_MALFORMED_INPUT is returned when an ICC in a request is not valid\n - ICC_NOT_FOUND: ICC_NOT_OUND is returned when a requested ICC is not found\n - ICC_PERMISSION_DENIED: ICC_PERMISSION_DENIED is returned when a request is made to an ICC resource\nwhich the user has no access to\n - ICC_UNIQUE_NAME_VIOLATION: ICC_UNIQUE_NAME_VIOLATION is returned when a user attempts to create or\nupdate an ICC with a duplicate name.\n - ICC_IN_USE_CANNOT_BE_DELETED: ICC_IN_USE_CANNOT_BE_DELETED is returned when a user attempts to delete an\nICC while it's in use by an Import.\n - ICC_ID_MUST_BE_EMPTY: ICC_ID_MUST_BE_EMPTY is returned when a user specifies the ID on creating a\nnew ICC.\n - ICC_CANNOT_BE_UPDATED: ICC_CANNOT_BE_UPDATED is returned when a user attempts to update an ICC\nthat cannot be updated. The details of the error should be included in\nerror metadata as \"error_details\".\n - TRANSFORM_FAILED: TRANSFORM_FAILED is returned when a transform pipeline fails due to a bad\nmapping\n - TRANSFORM_INVALID: TRANSFORM_INVALID is returned when a transform pipeline fails due to a\ntransformed row not matching the target output schema\n - TRANSFORM_FAILED_WRITE: TRANSFORM_FAILED_WRITE is returned when a transform pipeline fails to write\na valid row to the output target\n - TRANSFORM_EXCEEDED_ROW_ERRORS: TRANSFORM_EXCEEDED_ROW_ERRORS is returned when a transform run is aborted\ndue to exceeding the maximum number of row errors permitted\n - IMPORTS_ID_MUST_BE_EMPTY: IMPORTS_ID_MUST_BE_EMPTY is returned when a user specifies the ID on\ncreating a new Import.\n - IMPORTS_UNIQUE_NAME_VIOLATION: IMPORTS_UNIQUE_NAME_VIOLATION is returned when a user attempts to create or\nupdate an Import with a duplicate name.\n - IMPORTS_NOT_FOUND: IMPORTS_NOT_FOUND is returned when the requested Import is not found.\n - IMPORTS_EXECUTION_BUNKER_NOT_FOUND: IMPORTS_EXECUTION_BUNKER_NOT_FOUND is returned when a bunker for executing\nan Import is not found for a given user or team.\n - IMPORTS_CANNOT_CANCEL_TASK: IMPORTS_CANNOT_CANCEL_TASK is returned when a task can not be cancelled.\nThe details of the error should be included in error metadata as\n\"error_details\".\n - IMPORTS_EXECUTION_TASK_NOT_FOUND: IMPORTS_EXECUTION_TASK_NOT_FOUND is returned when the import execution task\nis not found\n - IMPORTS_CANNOT_BE_DELETED: IMPORTS_CANNOT_BE_DELETED is returned when a user attempts to delete an\nImport that cannot be deleted. The details of the error should be included\nin error metadata as \"error_details\".\n - IMPORTS_CANNOT_BE_UPDATED: IMPORTS_CANNOT_BE_UPDATED is returned when a user attempts to update an\nImport that cannot be updated. The details of the error should be included\nin error metadata as \"error_details\".\n - UNSUPPORTED_FILTER_FIELD_NAME: UNSUPPORTED_FILTER_FIELD_NAME is returned when a user attempts to filter\nthe result by an unsupported field name. The name of the unsupported field\nshould be included in error metadata as \"field_name\".\n - UNSUPPORTED_ORDER_BY_FIELD_NAME: UNSUPPORTED_ORDER_BY_FIELD_NAME is returned when a user attempts to sort\nthe results by an unsupported field name. The name of the unsupported field\nshould be included in error metadata as \"field_name\".\n - INVALID_FILTER_INPUT: INVALID_FILTER_INPUT is returned when the filter provided by the user is\nnot valid and can't be parsed. The details of the error should be included\nin error metadata as \"error_details\".\n - INVALID_UPDATE_MASK_FIELD_NAME: INVALID_UPDATE_MASK_FIELD_NAME is returned when a user attempts to update\nan immutable/invalid field. The immutable/invalid field should be included\nin error metadata as \"field_name\".\n - API_MALFORMED_INPUT: API_MALFORMED_INPUT is returned when an api user provides invalid input for\na request. The details of the error should be included in error metadata as\n\"error_details\".\n - INVALID_INPUT_VALUE: INVALID_INPUT_VALUE is returned when a user provides an invalid value for a\nfield. The details of the error should be included in error metadata as\n\"error_details\".\n - BAD_PAGE_SIZE: BAD_PAGE_SIZE is returned when the perpage value in a pagination request is\none that is not supported by the service\n - FILE_METADATA_NOT_FOUND: FILE_METADATA_NOT_FOUND is returned when the file metadata get request\ncannot be found.\n - FILE_METADATA_IN_USE: FILE_METADATA_IN_USE is returned when any update is attempted on an in use\nfile metadata record.\n - FILE_METADATA_DELETED: FILE_METADATA_DELETED is returned when any update is attempted on a deleted\nfile metadata record.\n - FILE_METADATA_ALREADY_STRUCTURED: FILE_METADATA_ALREADY_STRUCTURED is returned when any structure update is\nattempted on a structured file metadata record.\n - FILE_NOT_FOUND: FILE_NOT_FOUND is returned when the requested file cannot be found.\n - TASK_NOT_FOUND: TASK_NOT_FOUND is returned when the task get request cannot be found.\n - TASK_CANNOT_CANCEL: TASK_CANNOT_CANCEL is returned when a task cannot be cancelled.\nThe details of the error should be included in error metadata as\n\"error_details\".\n - FILEVAULT_NOT_FOUND: FILEVAULT_NOT_FOUND is returned when the filevault cannot be found for the\nrequest.\n - BUNKER_NOT_FOUND: BUNKER_NOT_FOUND is returned when the bunker cannot be found for the\nrequest.\n - EXPORT_FAILED: EXPORT errors\nEXPORT_FAILED is returned when an export fails.\n - EXPORT_FILE_EXISTS: EXPORT_FILE_EXISTS is returned when an export fails as to the output\ndestination already exists.\n - EXPORT_TIMEOUT: EXPORT_TIMEOUT is returned when exporting data timeout.\n - EXPORT_S3_ERROR: EXPORT_S3_ERROR is returned when exporting to s3 fails.\nThe aws error message should be included in error metadata as\n\"aws_error_message\".\n - EXPORT_S3_INVALID_ARGUMENT: EXPORT_S3_INVALID_ARGUMENT is returned when exporting to s3 due to an\ninvalid argument.\n - EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS: EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS is returned when using aws access keys\nand access to s3 bucket is denied.\n - EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT: EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT is returned when using aws cross\naccount and access to s3 bucket is denied. The infosum aws role arn should\nbe included in error metadata as \"aws_role_arn\".\n - EXPORT_S3_BUCKET_PUBLIC: EXPORT_S3_BUCKET_PUBLIC is returned when an s3 bucket is public.\n - EXPORT_TRADE_DESK_ERROR: EXPORT_TRADE_DESK_ERROR is returned when exporting to the trade desk fails.\n - EXPORT_TRADE_DESK_INVALID_ID: EXPORT_TRADE_DESK_INVALID_ID is returned when exporting to the trade desk\nfails due to the advertiser id not configured to accept data.\n - EXPORT_TRADE_DESK_INVALID_SECRET: EXPORT_TRADE_DESK_INVALID_SECRET is returned when exporting to the trade\ndesk due to advertiser secret key being incorrect.\n - EXPORT_SFTP_ERROR: EXPORT_SFTP_ERROR is returned when exporting to an sftp server fails.\n - EXPORT_SFTP_INVALID_CREDENTIALS: EXPORT_SFTP_INVALID_CREDENTIALS is returned when the users sftp\nusername/password is invalid.\n - EXPORT_SFTP_INVALID_SSH_KEY: EXPORT_SFTP_INVALID_SSH_KEY is returned when the users ssh key is invalid.\n - EXPORT_SFTP_CREATE_DIRECTORY_ERROR: EXPORT_SFTP_CREATE_DIRECTORY_ERROR is returned when unable to create\ncreated directories.\n - EXPORT_SFTP_CREATE_FILE_ERROR: EXPORT_SFTP_CREATE_FILE_ERROR is returned when unable to create file.\n - EXPORT_SFTP_NO_SUCH_HOST: EXPORT_SFTP_NO_SUCH_HOST is returned when the host can't be found.\n - EXPORT_SFTP_CONNECTION_REFUSED: EXPORT_SFTP_CONNECTION_REFUSED is returned when connecting to the host\nfails.\n - EXPORT_GCS_ERROR: EXPORT_GCS_ERROR is returned when exporting data to gcs fails.\n - EXPORT_PUBMATIC_ERROR: EXPORT_PUBMATIC_ERROR is returned when exporting to pubmatic fails.\n - EXPORT_PUBMATIC_PARTIAL_ERROR: EXPORT_PUBMATIC_PARTIAL_ERROR is returned when some userId failed to be\nsent to pubmatic. The percentage of successful requests sent to pubmatic\nshould be included in error metadata as \"success_rate\".\n - EXPORT_PUBMATIC_UNREGISTERED_SEG: EXPORT_PUBMATIC_UNREGISTERED_SEG is returned when all segments in the\nrequest are unregistered.\n - EXPORT_PUBMATIC_DPID_NOT_SUPPORTED: EXPORT_PUBMATIC_DPID_NOT_SUPPORTED is returned when the data provider ID\nnot supported."
                },
                "translated_error": {
                  "type": "string",
                  "title": "TranslatedError is the english translation of the ErrorCode"
                }
              },
              "description": "An error with an explanation.",
              "title": "Error"
            }
          },
          "403": {
            "description": "Returned when the user does not have the required permission.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "title": "Message contains details about the error"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Metadata contains information that is used to flesh out the translated\nLocationisationId message"
                },
                "request_id": {
                  "type": "string",
                  "title": "RequestId is a unique ID for the request"
                },
                "error_code": {
                  "title": "ErrorCode is an error code which can be translated into an error message in\nthe user's language",
                  "type": "string",
                  "enum": [
                    "INTERNAL",
                    "UNAUTHENTICATED",
                    "ACCOUNTS_REQUIRE_FEATURE_FLAG",
                    "ACCOUNTS_REQUIRE_COMPANY_RIGHT",
                    "MISSING_REQUIRED_FIELD",
                    "ACCOUNTS_REQUIRE_COMPANY",
                    "EMPTY_PAYLOAD",
                    "ACTIVATION_QUERY_NOT_FOUND",
                    "COHORT_VERSION_NOT_FOUND",
                    "DATASET_NOT_FOUND",
                    "UNIMPLEMENTED",
                    "INVALID_ARGUMENT",
                    "DESTINATIONS_NOT_FOUND",
                    "DESTINATIONS_INVALID_CONNECTOR",
                    "DESTINATION_UNKNOWN_AUTH_TYPE",
                    "DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME",
                    "DESTINATIONS_INVALID_PAGINATION_INPUT",
                    "DESTINATIONS_ALREADY_EXISTS",
                    "ICC_INVALID_ARGUMENT",
                    "ICC_MALFORMED_INPUT",
                    "ICC_NOT_FOUND",
                    "ICC_PERMISSION_DENIED",
                    "ICC_UNIQUE_NAME_VIOLATION",
                    "ICC_IN_USE_CANNOT_BE_DELETED",
                    "ICC_ID_MUST_BE_EMPTY",
                    "ICC_CANNOT_BE_UPDATED",
                    "TRANSFORM_FAILED",
                    "TRANSFORM_INVALID",
                    "TRANSFORM_FAILED_WRITE",
                    "TRANSFORM_EXCEEDED_ROW_ERRORS",
                    "IMPORTS_ID_MUST_BE_EMPTY",
                    "IMPORTS_UNIQUE_NAME_VIOLATION",
                    "IMPORTS_NOT_FOUND",
                    "IMPORTS_EXECUTION_BUNKER_NOT_FOUND",
                    "IMPORTS_CANNOT_CANCEL_TASK",
                    "IMPORTS_EXECUTION_TASK_NOT_FOUND",
                    "IMPORTS_CANNOT_BE_DELETED",
                    "IMPORTS_CANNOT_BE_UPDATED",
                    "UNSUPPORTED_FILTER_FIELD_NAME",
                    "UNSUPPORTED_ORDER_BY_FIELD_NAME",
                    "INVALID_FILTER_INPUT",
                    "INVALID_UPDATE_MASK_FIELD_NAME",
                    "API_MALFORMED_INPUT",
                    "INVALID_INPUT_VALUE",
                    "BAD_PAGE_SIZE",
                    "FILE_METADATA_NOT_FOUND",
                    "FILE_METADATA_IN_USE",
                    "FILE_METADATA_DELETED",
                    "FILE_METADATA_ALREADY_STRUCTURED",
                    "FILE_NOT_FOUND",
                    "TASK_NOT_FOUND",
                    "TASK_CANNOT_CANCEL",
                    "FILEVAULT_NOT_FOUND",
                    "BUNKER_NOT_FOUND",
                    "EXPORT_FAILED",
                    "EXPORT_FILE_EXISTS",
                    "EXPORT_TIMEOUT",
                    "EXPORT_S3_ERROR",
                    "EXPORT_S3_INVALID_ARGUMENT",
                    "EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS",
                    "EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT",
                    "EXPORT_S3_BUCKET_PUBLIC",
                    "EXPORT_TRADE_DESK_ERROR",
                    "EXPORT_TRADE_DESK_INVALID_ID",
                    "EXPORT_TRADE_DESK_INVALID_SECRET",
                    "EXPORT_SFTP_ERROR",
                    "EXPORT_SFTP_INVALID_CREDENTIALS",
                    "EXPORT_SFTP_INVALID_SSH_KEY",
                    "EXPORT_SFTP_CREATE_DIRECTORY_ERROR",
                    "EXPORT_SFTP_CREATE_FILE_ERROR",
                    "EXPORT_SFTP_NO_SUCH_HOST",
                    "EXPORT_SFTP_CONNECTION_REFUSED",
                    "EXPORT_GCS_ERROR",
                    "EXPORT_PUBMATIC_ERROR",
                    "EXPORT_PUBMATIC_PARTIAL_ERROR",
                    "EXPORT_PUBMATIC_UNREGISTERED_SEG",
                    "EXPORT_PUBMATIC_DPID_NOT_SUPPORTED"
                  ],
                  "default": "INTERNAL",
                  "description": "ErrorCode list possible api error codes.\n\n - INTERNAL: INTERNAL is used when no other error applies.\n - UNAUTHENTICATED: General errors\nUNAUTHENTICATED is used when the user is not authenticated.\n - ACCOUNTS_REQUIRE_FEATURE_FLAG: ACCOUNTS_REQUIRE_FEATURE_FLAG is returned when a user doesn't have the\nrequired feature flag enabled.\n - ACCOUNTS_REQUIRE_COMPANY_RIGHT: ACCOUNTS_REQUIRE_COMPANY_RIGHT is returned when a company user doesn't have\nthe required RIGHT to perform the request. The required right should be\nincluded in the error metadata as \"required_right\"\n - MISSING_REQUIRED_FIELD: MISSING_REQURIED_FIELD is return when a required field is missing in a\nrequest. The name of the required field should be included in error\nmetadata as \"required_field\".\n - ACCOUNTS_REQUIRE_COMPANY: ACCOUNTS_REQUIRE_COMPANY is returned when an endpoint requires the user be\npart of a company\n - EMPTY_PAYLOAD: EMPTY_PAYLOAD is returned when a payload is empty but is required.\n - ACTIVATION_QUERY_NOT_FOUND: ACTIVATION_QUERY_NOT_FOUND is returned when a activation query can not be\nfound.\n - COHORT_VERSION_NOT_FOUND: COHORT_VERSION_NOT_FOUND is returned when a cohort version can not be\nfound.\n - DATASET_NOT_FOUND: DATASET_NOT_FOUND is returned when a dataset can not be found.\n - UNIMPLEMENTED: UNIMPLEMENTED is returned when a path and/or method is unimplemented.\n - INVALID_ARGUMENT: INVALID_ARGUMENT is returned when a supplied field is invalid.\nThe name of the invalid field should be included in error metadata as\n\"invalid_field\". The reason why of the field is invalid should be included\nin error metadata as \"validation_message\".\n - DESTINATIONS_NOT_FOUND: Destination errors\nDESTINATIONS_NOT_FOUND is Returned when a destination can not be found.\n - DESTINATIONS_INVALID_CONNECTOR: DESTINATIONS_INVALID_CONNECTOR is returned when an invalid connector is\nprovided for destinations.\n - DESTINATION_UNKNOWN_AUTH_TYPE: DESTINATION_UNKNOWN_AUTH_TYPE is returned when an unknown authentication\ntype is provided for a destination.\n - DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME: DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME is returned when an\nunsupported field name is provided to sort the results by. The name of the\nunsupported field should be included in error metadata as\n\"unsupported_field\".\n - DESTINATIONS_INVALID_PAGINATION_INPUT: DESTINATIONS_INVALID_PAGINATION_INPUT is returned when an invalid\npagination input is provided for listing.\n - DESTINATIONS_ALREADY_EXISTS: DESTINATIONS_ALREADY_EXISTS is returned when an user tries to create a\ndestination that doesn't conform to the unique constraints.\n - ICC_INVALID_ARGUMENT: ICC_INVALID_ARGUMENT is returned when an ICC contains an invalid field\n - ICC_MALFORMED_INPUT: ICC_MALFORMED_INPUT is returned when an ICC in a request is not valid\n - ICC_NOT_FOUND: ICC_NOT_OUND is returned when a requested ICC is not found\n - ICC_PERMISSION_DENIED: ICC_PERMISSION_DENIED is returned when a request is made to an ICC resource\nwhich the user has no access to\n - ICC_UNIQUE_NAME_VIOLATION: ICC_UNIQUE_NAME_VIOLATION is returned when a user attempts to create or\nupdate an ICC with a duplicate name.\n - ICC_IN_USE_CANNOT_BE_DELETED: ICC_IN_USE_CANNOT_BE_DELETED is returned when a user attempts to delete an\nICC while it's in use by an Import.\n - ICC_ID_MUST_BE_EMPTY: ICC_ID_MUST_BE_EMPTY is returned when a user specifies the ID on creating a\nnew ICC.\n - ICC_CANNOT_BE_UPDATED: ICC_CANNOT_BE_UPDATED is returned when a user attempts to update an ICC\nthat cannot be updated. The details of the error should be included in\nerror metadata as \"error_details\".\n - TRANSFORM_FAILED: TRANSFORM_FAILED is returned when a transform pipeline fails due to a bad\nmapping\n - TRANSFORM_INVALID: TRANSFORM_INVALID is returned when a transform pipeline fails due to a\ntransformed row not matching the target output schema\n - TRANSFORM_FAILED_WRITE: TRANSFORM_FAILED_WRITE is returned when a transform pipeline fails to write\na valid row to the output target\n - TRANSFORM_EXCEEDED_ROW_ERRORS: TRANSFORM_EXCEEDED_ROW_ERRORS is returned when a transform run is aborted\ndue to exceeding the maximum number of row errors permitted\n - IMPORTS_ID_MUST_BE_EMPTY: IMPORTS_ID_MUST_BE_EMPTY is returned when a user specifies the ID on\ncreating a new Import.\n - IMPORTS_UNIQUE_NAME_VIOLATION: IMPORTS_UNIQUE_NAME_VIOLATION is returned when a user attempts to create or\nupdate an Import with a duplicate name.\n - IMPORTS_NOT_FOUND: IMPORTS_NOT_FOUND is returned when the requested Import is not found.\n - IMPORTS_EXECUTION_BUNKER_NOT_FOUND: IMPORTS_EXECUTION_BUNKER_NOT_FOUND is returned when a bunker for executing\nan Import is not found for a given user or team.\n - IMPORTS_CANNOT_CANCEL_TASK: IMPORTS_CANNOT_CANCEL_TASK is returned when a task can not be cancelled.\nThe details of the error should be included in error metadata as\n\"error_details\".\n - IMPORTS_EXECUTION_TASK_NOT_FOUND: IMPORTS_EXECUTION_TASK_NOT_FOUND is returned when the import execution task\nis not found\n - IMPORTS_CANNOT_BE_DELETED: IMPORTS_CANNOT_BE_DELETED is returned when a user attempts to delete an\nImport that cannot be deleted. The details of the error should be included\nin error metadata as \"error_details\".\n - IMPORTS_CANNOT_BE_UPDATED: IMPORTS_CANNOT_BE_UPDATED is returned when a user attempts to update an\nImport that cannot be updated. The details of the error should be included\nin error metadata as \"error_details\".\n - UNSUPPORTED_FILTER_FIELD_NAME: UNSUPPORTED_FILTER_FIELD_NAME is returned when a user attempts to filter\nthe result by an unsupported field name. The name of the unsupported field\nshould be included in error metadata as \"field_name\".\n - UNSUPPORTED_ORDER_BY_FIELD_NAME: UNSUPPORTED_ORDER_BY_FIELD_NAME is returned when a user attempts to sort\nthe results by an unsupported field name. The name of the unsupported field\nshould be included in error metadata as \"field_name\".\n - INVALID_FILTER_INPUT: INVALID_FILTER_INPUT is returned when the filter provided by the user is\nnot valid and can't be parsed. The details of the error should be included\nin error metadata as \"error_details\".\n - INVALID_UPDATE_MASK_FIELD_NAME: INVALID_UPDATE_MASK_FIELD_NAME is returned when a user attempts to update\nan immutable/invalid field. The immutable/invalid field should be included\nin error metadata as \"field_name\".\n - API_MALFORMED_INPUT: API_MALFORMED_INPUT is returned when an api user provides invalid input for\na request. The details of the error should be included in error metadata as\n\"error_details\".\n - INVALID_INPUT_VALUE: INVALID_INPUT_VALUE is returned when a user provides an invalid value for a\nfield. The details of the error should be included in error metadata as\n\"error_details\".\n - BAD_PAGE_SIZE: BAD_PAGE_SIZE is returned when the perpage value in a pagination request is\none that is not supported by the service\n - FILE_METADATA_NOT_FOUND: FILE_METADATA_NOT_FOUND is returned when the file metadata get request\ncannot be found.\n - FILE_METADATA_IN_USE: FILE_METADATA_IN_USE is returned when any update is attempted on an in use\nfile metadata record.\n - FILE_METADATA_DELETED: FILE_METADATA_DELETED is returned when any update is attempted on a deleted\nfile metadata record.\n - FILE_METADATA_ALREADY_STRUCTURED: FILE_METADATA_ALREADY_STRUCTURED is returned when any structure update is\nattempted on a structured file metadata record.\n - FILE_NOT_FOUND: FILE_NOT_FOUND is returned when the requested file cannot be found.\n - TASK_NOT_FOUND: TASK_NOT_FOUND is returned when the task get request cannot be found.\n - TASK_CANNOT_CANCEL: TASK_CANNOT_CANCEL is returned when a task cannot be cancelled.\nThe details of the error should be included in error metadata as\n\"error_details\".\n - FILEVAULT_NOT_FOUND: FILEVAULT_NOT_FOUND is returned when the filevault cannot be found for the\nrequest.\n - BUNKER_NOT_FOUND: BUNKER_NOT_FOUND is returned when the bunker cannot be found for the\nrequest.\n - EXPORT_FAILED: EXPORT errors\nEXPORT_FAILED is returned when an export fails.\n - EXPORT_FILE_EXISTS: EXPORT_FILE_EXISTS is returned when an export fails as to the output\ndestination already exists.\n - EXPORT_TIMEOUT: EXPORT_TIMEOUT is returned when exporting data timeout.\n - EXPORT_S3_ERROR: EXPORT_S3_ERROR is returned when exporting to s3 fails.\nThe aws error message should be included in error metadata as\n\"aws_error_message\".\n - EXPORT_S3_INVALID_ARGUMENT: EXPORT_S3_INVALID_ARGUMENT is returned when exporting to s3 due to an\ninvalid argument.\n - EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS: EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS is returned when using aws access keys\nand access to s3 bucket is denied.\n - EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT: EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT is returned when using aws cross\naccount and access to s3 bucket is denied. The infosum aws role arn should\nbe included in error metadata as \"aws_role_arn\".\n - EXPORT_S3_BUCKET_PUBLIC: EXPORT_S3_BUCKET_PUBLIC is returned when an s3 bucket is public.\n - EXPORT_TRADE_DESK_ERROR: EXPORT_TRADE_DESK_ERROR is returned when exporting to the trade desk fails.\n - EXPORT_TRADE_DESK_INVALID_ID: EXPORT_TRADE_DESK_INVALID_ID is returned when exporting to the trade desk\nfails due to the advertiser id not configured to accept data.\n - EXPORT_TRADE_DESK_INVALID_SECRET: EXPORT_TRADE_DESK_INVALID_SECRET is returned when exporting to the trade\ndesk due to advertiser secret key being incorrect.\n - EXPORT_SFTP_ERROR: EXPORT_SFTP_ERROR is returned when exporting to an sftp server fails.\n - EXPORT_SFTP_INVALID_CREDENTIALS: EXPORT_SFTP_INVALID_CREDENTIALS is returned when the users sftp\nusername/password is invalid.\n - EXPORT_SFTP_INVALID_SSH_KEY: EXPORT_SFTP_INVALID_SSH_KEY is returned when the users ssh key is invalid.\n - EXPORT_SFTP_CREATE_DIRECTORY_ERROR: EXPORT_SFTP_CREATE_DIRECTORY_ERROR is returned when unable to create\ncreated directories.\n - EXPORT_SFTP_CREATE_FILE_ERROR: EXPORT_SFTP_CREATE_FILE_ERROR is returned when unable to create file.\n - EXPORT_SFTP_NO_SUCH_HOST: EXPORT_SFTP_NO_SUCH_HOST is returned when the host can't be found.\n - EXPORT_SFTP_CONNECTION_REFUSED: EXPORT_SFTP_CONNECTION_REFUSED is returned when connecting to the host\nfails.\n - EXPORT_GCS_ERROR: EXPORT_GCS_ERROR is returned when exporting data to gcs fails.\n - EXPORT_PUBMATIC_ERROR: EXPORT_PUBMATIC_ERROR is returned when exporting to pubmatic fails.\n - EXPORT_PUBMATIC_PARTIAL_ERROR: EXPORT_PUBMATIC_PARTIAL_ERROR is returned when some userId failed to be\nsent to pubmatic. The percentage of successful requests sent to pubmatic\nshould be included in error metadata as \"success_rate\".\n - EXPORT_PUBMATIC_UNREGISTERED_SEG: EXPORT_PUBMATIC_UNREGISTERED_SEG is returned when all segments in the\nrequest are unregistered.\n - EXPORT_PUBMATIC_DPID_NOT_SUPPORTED: EXPORT_PUBMATIC_DPID_NOT_SUPPORTED is returned when the data provider ID\nnot supported."
                },
                "translated_error": {
                  "type": "string",
                  "title": "TranslatedError is the english translation of the ErrorCode"
                }
              },
              "description": "An error with an explanation.",
              "title": "Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "title": "Message contains details about the error"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Metadata contains information that is used to flesh out the translated\nLocationisationId message"
                },
                "request_id": {
                  "type": "string",
                  "title": "RequestId is a unique ID for the request"
                },
                "error_code": {
                  "title": "ErrorCode is an error code which can be translated into an error message in\nthe user's language",
                  "type": "string",
                  "enum": [
                    "INTERNAL",
                    "UNAUTHENTICATED",
                    "ACCOUNTS_REQUIRE_FEATURE_FLAG",
                    "ACCOUNTS_REQUIRE_COMPANY_RIGHT",
                    "MISSING_REQUIRED_FIELD",
                    "ACCOUNTS_REQUIRE_COMPANY",
                    "EMPTY_PAYLOAD",
                    "ACTIVATION_QUERY_NOT_FOUND",
                    "COHORT_VERSION_NOT_FOUND",
                    "DATASET_NOT_FOUND",
                    "UNIMPLEMENTED",
                    "INVALID_ARGUMENT",
                    "DESTINATIONS_NOT_FOUND",
                    "DESTINATIONS_INVALID_CONNECTOR",
                    "DESTINATION_UNKNOWN_AUTH_TYPE",
                    "DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME",
                    "DESTINATIONS_INVALID_PAGINATION_INPUT",
                    "DESTINATIONS_ALREADY_EXISTS",
                    "ICC_INVALID_ARGUMENT",
                    "ICC_MALFORMED_INPUT",
                    "ICC_NOT_FOUND",
                    "ICC_PERMISSION_DENIED",
                    "ICC_UNIQUE_NAME_VIOLATION",
                    "ICC_IN_USE_CANNOT_BE_DELETED",
                    "ICC_ID_MUST_BE_EMPTY",
                    "ICC_CANNOT_BE_UPDATED",
                    "TRANSFORM_FAILED",
                    "TRANSFORM_INVALID",
                    "TRANSFORM_FAILED_WRITE",
                    "TRANSFORM_EXCEEDED_ROW_ERRORS",
                    "IMPORTS_ID_MUST_BE_EMPTY",
                    "IMPORTS_UNIQUE_NAME_VIOLATION",
                    "IMPORTS_NOT_FOUND",
                    "IMPORTS_EXECUTION_BUNKER_NOT_FOUND",
                    "IMPORTS_CANNOT_CANCEL_TASK",
                    "IMPORTS_EXECUTION_TASK_NOT_FOUND",
                    "IMPORTS_CANNOT_BE_DELETED",
                    "IMPORTS_CANNOT_BE_UPDATED",
                    "UNSUPPORTED_FILTER_FIELD_NAME",
                    "UNSUPPORTED_ORDER_BY_FIELD_NAME",
                    "INVALID_FILTER_INPUT",
                    "INVALID_UPDATE_MASK_FIELD_NAME",
                    "API_MALFORMED_INPUT",
                    "INVALID_INPUT_VALUE",
                    "BAD_PAGE_SIZE",
                    "FILE_METADATA_NOT_FOUND",
                    "FILE_METADATA_IN_USE",
                    "FILE_METADATA_DELETED",
                    "FILE_METADATA_ALREADY_STRUCTURED",
                    "FILE_NOT_FOUND",
                    "TASK_NOT_FOUND",
                    "TASK_CANNOT_CANCEL",
                    "FILEVAULT_NOT_FOUND",
                    "BUNKER_NOT_FOUND",
                    "EXPORT_FAILED",
                    "EXPORT_FILE_EXISTS",
                    "EXPORT_TIMEOUT",
                    "EXPORT_S3_ERROR",
                    "EXPORT_S3_INVALID_ARGUMENT",
                    "EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS",
                    "EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT",
                    "EXPORT_S3_BUCKET_PUBLIC",
                    "EXPORT_TRADE_DESK_ERROR",
                    "EXPORT_TRADE_DESK_INVALID_ID",
                    "EXPORT_TRADE_DESK_INVALID_SECRET",
                    "EXPORT_SFTP_ERROR",
                    "EXPORT_SFTP_INVALID_CREDENTIALS",
                    "EXPORT_SFTP_INVALID_SSH_KEY",
                    "EXPORT_SFTP_CREATE_DIRECTORY_ERROR",
                    "EXPORT_SFTP_CREATE_FILE_ERROR",
                    "EXPORT_SFTP_NO_SUCH_HOST",
                    "EXPORT_SFTP_CONNECTION_REFUSED",
                    "EXPORT_GCS_ERROR",
                    "EXPORT_PUBMATIC_ERROR",
                    "EXPORT_PUBMATIC_PARTIAL_ERROR",
                    "EXPORT_PUBMATIC_UNREGISTERED_SEG",
                    "EXPORT_PUBMATIC_DPID_NOT_SUPPORTED"
                  ],
                  "default": "INTERNAL",
                  "description": "ErrorCode list possible api error codes.\n\n - INTERNAL: INTERNAL is used when no other error applies.\n - UNAUTHENTICATED: General errors\nUNAUTHENTICATED is used when the user is not authenticated.\n - ACCOUNTS_REQUIRE_FEATURE_FLAG: ACCOUNTS_REQUIRE_FEATURE_FLAG is returned when a user doesn't have the\nrequired feature flag enabled.\n - ACCOUNTS_REQUIRE_COMPANY_RIGHT: ACCOUNTS_REQUIRE_COMPANY_RIGHT is returned when a company user doesn't have\nthe required RIGHT to perform the request. The required right should be\nincluded in the error metadata as \"required_right\"\n - MISSING_REQUIRED_FIELD: MISSING_REQURIED_FIELD is return when a required field is missing in a\nrequest. The name of the required field should be included in error\nmetadata as \"required_field\".\n - ACCOUNTS_REQUIRE_COMPANY: ACCOUNTS_REQUIRE_COMPANY is returned when an endpoint requires the user be\npart of a company\n - EMPTY_PAYLOAD: EMPTY_PAYLOAD is returned when a payload is empty but is required.\n - ACTIVATION_QUERY_NOT_FOUND: ACTIVATION_QUERY_NOT_FOUND is returned when a activation query can not be\nfound.\n - COHORT_VERSION_NOT_FOUND: COHORT_VERSION_NOT_FOUND is returned when a cohort version can not be\nfound.\n - DATASET_NOT_FOUND: DATASET_NOT_FOUND is returned when a dataset can not be found.\n - UNIMPLEMENTED: UNIMPLEMENTED is returned when a path and/or method is unimplemented.\n - INVALID_ARGUMENT: INVALID_ARGUMENT is returned when a supplied field is invalid.\nThe name of the invalid field should be included in error metadata as\n\"invalid_field\". The reason why of the field is invalid should be included\nin error metadata as \"validation_message\".\n - DESTINATIONS_NOT_FOUND: Destination errors\nDESTINATIONS_NOT_FOUND is Returned when a destination can not be found.\n - DESTINATIONS_INVALID_CONNECTOR: DESTINATIONS_INVALID_CONNECTOR is returned when an invalid connector is\nprovided for destinations.\n - DESTINATION_UNKNOWN_AUTH_TYPE: DESTINATION_UNKNOWN_AUTH_TYPE is returned when an unknown authentication\ntype is provided for a destination.\n - DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME: DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME is returned when an\nunsupported field name is provided to sort the results by. The name of the\nunsupported field should be included in error metadata as\n\"unsupported_field\".\n - DESTINATIONS_INVALID_PAGINATION_INPUT: DESTINATIONS_INVALID_PAGINATION_INPUT is returned when an invalid\npagination input is provided for listing.\n - DESTINATIONS_ALREADY_EXISTS: DESTINATIONS_ALREADY_EXISTS is returned when an user tries to create a\ndestination that doesn't conform to the unique constraints.\n - ICC_INVALID_ARGUMENT: ICC_INVALID_ARGUMENT is returned when an ICC contains an invalid field\n - ICC_MALFORMED_INPUT: ICC_MALFORMED_INPUT is returned when an ICC in a request is not valid\n - ICC_NOT_FOUND: ICC_NOT_OUND is returned when a requested ICC is not found\n - ICC_PERMISSION_DENIED: ICC_PERMISSION_DENIED is returned when a request is made to an ICC resource\nwhich the user has no access to\n - ICC_UNIQUE_NAME_VIOLATION: ICC_UNIQUE_NAME_VIOLATION is returned when a user attempts to create or\nupdate an ICC with a duplicate name.\n - ICC_IN_USE_CANNOT_BE_DELETED: ICC_IN_USE_CANNOT_BE_DELETED is returned when a user attempts to delete an\nICC while it's in use by an Import.\n - ICC_ID_MUST_BE_EMPTY: ICC_ID_MUST_BE_EMPTY is returned when a user specifies the ID on creating a\nnew ICC.\n - ICC_CANNOT_BE_UPDATED: ICC_CANNOT_BE_UPDATED is returned when a user attempts to update an ICC\nthat cannot be updated. The details of the error should be included in\nerror metadata as \"error_details\".\n - TRANSFORM_FAILED: TRANSFORM_FAILED is returned when a transform pipeline fails due to a bad\nmapping\n - TRANSFORM_INVALID: TRANSFORM_INVALID is returned when a transform pipeline fails due to a\ntransformed row not matching the target output schema\n - TRANSFORM_FAILED_WRITE: TRANSFORM_FAILED_WRITE is returned when a transform pipeline fails to write\na valid row to the output target\n - TRANSFORM_EXCEEDED_ROW_ERRORS: TRANSFORM_EXCEEDED_ROW_ERRORS is returned when a transform run is aborted\ndue to exceeding the maximum number of row errors permitted\n - IMPORTS_ID_MUST_BE_EMPTY: IMPORTS_ID_MUST_BE_EMPTY is returned when a user specifies the ID on\ncreating a new Import.\n - IMPORTS_UNIQUE_NAME_VIOLATION: IMPORTS_UNIQUE_NAME_VIOLATION is returned when a user attempts to create or\nupdate an Import with a duplicate name.\n - IMPORTS_NOT_FOUND: IMPORTS_NOT_FOUND is returned when the requested Import is not found.\n - IMPORTS_EXECUTION_BUNKER_NOT_FOUND: IMPORTS_EXECUTION_BUNKER_NOT_FOUND is returned when a bunker for executing\nan Import is not found for a given user or team.\n - IMPORTS_CANNOT_CANCEL_TASK: IMPORTS_CANNOT_CANCEL_TASK is returned when a task can not be cancelled.\nThe details of the error should be included in error metadata as\n\"error_details\".\n - IMPORTS_EXECUTION_TASK_NOT_FOUND: IMPORTS_EXECUTION_TASK_NOT_FOUND is returned when the import execution task\nis not found\n - IMPORTS_CANNOT_BE_DELETED: IMPORTS_CANNOT_BE_DELETED is returned when a user attempts to delete an\nImport that cannot be deleted. The details of the error should be included\nin error metadata as \"error_details\".\n - IMPORTS_CANNOT_BE_UPDATED: IMPORTS_CANNOT_BE_UPDATED is returned when a user attempts to update an\nImport that cannot be updated. The details of the error should be included\nin error metadata as \"error_details\".\n - UNSUPPORTED_FILTER_FIELD_NAME: UNSUPPORTED_FILTER_FIELD_NAME is returned when a user attempts to filter\nthe result by an unsupported field name. The name of the unsupported field\nshould be included in error metadata as \"field_name\".\n - UNSUPPORTED_ORDER_BY_FIELD_NAME: UNSUPPORTED_ORDER_BY_FIELD_NAME is returned when a user attempts to sort\nthe results by an unsupported field name. The name of the unsupported field\nshould be included in error metadata as \"field_name\".\n - INVALID_FILTER_INPUT: INVALID_FILTER_INPUT is returned when the filter provided by the user is\nnot valid and can't be parsed. The details of the error should be included\nin error metadata as \"error_details\".\n - INVALID_UPDATE_MASK_FIELD_NAME: INVALID_UPDATE_MASK_FIELD_NAME is returned when a user attempts to update\nan immutable/invalid field. The immutable/invalid field should be included\nin error metadata as \"field_name\".\n - API_MALFORMED_INPUT: API_MALFORMED_INPUT is returned when an api user provides invalid input for\na request. The details of the error should be included in error metadata as\n\"error_details\".\n - INVALID_INPUT_VALUE: INVALID_INPUT_VALUE is returned when a user provides an invalid value for a\nfield. The details of the error should be included in error metadata as\n\"error_details\".\n - BAD_PAGE_SIZE: BAD_PAGE_SIZE is returned when the perpage value in a pagination request is\none that is not supported by the service\n - FILE_METADATA_NOT_FOUND: FILE_METADATA_NOT_FOUND is returned when the file metadata get request\ncannot be found.\n - FILE_METADATA_IN_USE: FILE_METADATA_IN_USE is returned when any update is attempted on an in use\nfile metadata record.\n - FILE_METADATA_DELETED: FILE_METADATA_DELETED is returned when any update is attempted on a deleted\nfile metadata record.\n - FILE_METADATA_ALREADY_STRUCTURED: FILE_METADATA_ALREADY_STRUCTURED is returned when any structure update is\nattempted on a structured file metadata record.\n - FILE_NOT_FOUND: FILE_NOT_FOUND is returned when the requested file cannot be found.\n - TASK_NOT_FOUND: TASK_NOT_FOUND is returned when the task get request cannot be found.\n - TASK_CANNOT_CANCEL: TASK_CANNOT_CANCEL is returned when a task cannot be cancelled.\nThe details of the error should be included in error metadata as\n\"error_details\".\n - FILEVAULT_NOT_FOUND: FILEVAULT_NOT_FOUND is returned when the filevault cannot be found for the\nrequest.\n - BUNKER_NOT_FOUND: BUNKER_NOT_FOUND is returned when the bunker cannot be found for the\nrequest.\n - EXPORT_FAILED: EXPORT errors\nEXPORT_FAILED is returned when an export fails.\n - EXPORT_FILE_EXISTS: EXPORT_FILE_EXISTS is returned when an export fails as to the output\ndestination already exists.\n - EXPORT_TIMEOUT: EXPORT_TIMEOUT is returned when exporting data timeout.\n - EXPORT_S3_ERROR: EXPORT_S3_ERROR is returned when exporting to s3 fails.\nThe aws error message should be included in error metadata as\n\"aws_error_message\".\n - EXPORT_S3_INVALID_ARGUMENT: EXPORT_S3_INVALID_ARGUMENT is returned when exporting to s3 due to an\ninvalid argument.\n - EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS: EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS is returned when using aws access keys\nand access to s3 bucket is denied.\n - EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT: EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT is returned when using aws cross\naccount and access to s3 bucket is denied. The infosum aws role arn should\nbe included in error metadata as \"aws_role_arn\".\n - EXPORT_S3_BUCKET_PUBLIC: EXPORT_S3_BUCKET_PUBLIC is returned when an s3 bucket is public.\n - EXPORT_TRADE_DESK_ERROR: EXPORT_TRADE_DESK_ERROR is returned when exporting to the trade desk fails.\n - EXPORT_TRADE_DESK_INVALID_ID: EXPORT_TRADE_DESK_INVALID_ID is returned when exporting to the trade desk\nfails due to the advertiser id not configured to accept data.\n - EXPORT_TRADE_DESK_INVALID_SECRET: EXPORT_TRADE_DESK_INVALID_SECRET is returned when exporting to the trade\ndesk due to advertiser secret key being incorrect.\n - EXPORT_SFTP_ERROR: EXPORT_SFTP_ERROR is returned when exporting to an sftp server fails.\n - EXPORT_SFTP_INVALID_CREDENTIALS: EXPORT_SFTP_INVALID_CREDENTIALS is returned when the users sftp\nusername/password is invalid.\n - EXPORT_SFTP_INVALID_SSH_KEY: EXPORT_SFTP_INVALID_SSH_KEY is returned when the users ssh key is invalid.\n - EXPORT_SFTP_CREATE_DIRECTORY_ERROR: EXPORT_SFTP_CREATE_DIRECTORY_ERROR is returned when unable to create\ncreated directories.\n - EXPORT_SFTP_CREATE_FILE_ERROR: EXPORT_SFTP_CREATE_FILE_ERROR is returned when unable to create file.\n - EXPORT_SFTP_NO_SUCH_HOST: EXPORT_SFTP_NO_SUCH_HOST is returned when the host can't be found.\n - EXPORT_SFTP_CONNECTION_REFUSED: EXPORT_SFTP_CONNECTION_REFUSED is returned when connecting to the host\nfails.\n - EXPORT_GCS_ERROR: EXPORT_GCS_ERROR is returned when exporting data to gcs fails.\n - EXPORT_PUBMATIC_ERROR: EXPORT_PUBMATIC_ERROR is returned when exporting to pubmatic fails.\n - EXPORT_PUBMATIC_PARTIAL_ERROR: EXPORT_PUBMATIC_PARTIAL_ERROR is returned when some userId failed to be\nsent to pubmatic. The percentage of successful requests sent to pubmatic\nshould be included in error metadata as \"success_rate\".\n - EXPORT_PUBMATIC_UNREGISTERED_SEG: EXPORT_PUBMATIC_UNREGISTERED_SEG is returned when all segments in the\nrequest are unregistered.\n - EXPORT_PUBMATIC_DPID_NOT_SUPPORTED: EXPORT_PUBMATIC_DPID_NOT_SUPPORTED is returned when the data provider ID\nnot supported."
                },
                "translated_error": {
                  "type": "string",
                  "title": "TranslatedError is the english translation of the ErrorCode"
                }
              },
              "description": "An error with an explanation.",
              "title": "Error"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32"
                },
                "message": {
                  "type": "string"
                },
                "details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@type": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "pagination.page",
            "description": "Page is the page to view.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagination.per_page",
            "description": "PerPage is the number of items per page.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "order_by",
            "description": "OrderBy is a comma seperated value to define sorting.\ne.g 'name,created_time DESC'\nThe values are seperated by space, '{column} {ASC/DESC}'",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "description": "Filter is a string containing logic that can specify a restricted set of ICCs to be returned.\ne.g. `name co 'Test' or name co 'Acme'`",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ImportConnectorConfigs"
        ],
        "security": [
          {
            "API Keys": []
          }
        ]
      },
      "post": {
        "summary": "Create an Import Connector Config.",
        "description": "Create a configuration for importing data from a connector.",
        "operationId": "ImportConnectorConfigsCreate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "config_id": {
                  "type": "string"
                }
              },
              "description": "CreateResponse is the output of the Create method."
            }
          },
          "400": {
            "description": "Returned when the Import Connector Config was not valid.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "title": "Message contains details about the error"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Metadata contains information that is used to flesh out the translated\nLocationisationId message"
                },
                "request_id": {
                  "type": "string",
                  "title": "RequestId is a unique ID for the request"
                },
                "error_code": {
                  "title": "ErrorCode is an error code which can be translated into an error message in\nthe user's language",
                  "type": "string",
                  "enum": [
                    "INTERNAL",
                    "UNAUTHENTICATED",
                    "ACCOUNTS_REQUIRE_FEATURE_FLAG",
                    "ACCOUNTS_REQUIRE_COMPANY_RIGHT",
                    "MISSING_REQUIRED_FIELD",
                    "ACCOUNTS_REQUIRE_COMPANY",
                    "EMPTY_PAYLOAD",
                    "ACTIVATION_QUERY_NOT_FOUND",
                    "COHORT_VERSION_NOT_FOUND",
                    "DATASET_NOT_FOUND",
                    "UNIMPLEMENTED",
                    "INVALID_ARGUMENT",
                    "DESTINATIONS_NOT_FOUND",
                    "DESTINATIONS_INVALID_CONNECTOR",
                    "DESTINATION_UNKNOWN_AUTH_TYPE",
                    "DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME",
                    "DESTINATIONS_INVALID_PAGINATION_INPUT",
                    "DESTINATIONS_ALREADY_EXISTS",
                    "ICC_INVALID_ARGUMENT",
                    "ICC_MALFORMED_INPUT",
                    "ICC_NOT_FOUND",
                    "ICC_PERMISSION_DENIED",
                    "ICC_UNIQUE_NAME_VIOLATION",
                    "ICC_IN_USE_CANNOT_BE_DELETED",
                    "ICC_ID_MUST_BE_EMPTY",
                    "ICC_CANNOT_BE_UPDATED",
                    "TRANSFORM_FAILED",
                    "TRANSFORM_INVALID",
                    "TRANSFORM_FAILED_WRITE",
                    "TRANSFORM_EXCEEDED_ROW_ERRORS",
                    "IMPORTS_ID_MUST_BE_EMPTY",
                    "IMPORTS_UNIQUE_NAME_VIOLATION",
                    "IMPORTS_NOT_FOUND",
                    "IMPORTS_EXECUTION_BUNKER_NOT_FOUND",
                    "IMPORTS_CANNOT_CANCEL_TASK",
                    "IMPORTS_EXECUTION_TASK_NOT_FOUND",
                    "IMPORTS_CANNOT_BE_DELETED",
                    "IMPORTS_CANNOT_BE_UPDATED",
                    "UNSUPPORTED_FILTER_FIELD_NAME",
                    "UNSUPPORTED_ORDER_BY_FIELD_NAME",
                    "INVALID_FILTER_INPUT",
                    "INVALID_UPDATE_MASK_FIELD_NAME",
                    "API_MALFORMED_INPUT",
                    "INVALID_INPUT_VALUE",
                    "BAD_PAGE_SIZE",
                    "FILE_METADATA_NOT_FOUND",
                    "FILE_METADATA_IN_USE",
                    "FILE_METADATA_DELETED",
                    "FILE_METADATA_ALREADY_STRUCTURED",
                    "FILE_NOT_FOUND",
                    "TASK_NOT_FOUND",
                    "TASK_CANNOT_CANCEL",
                    "FILEVAULT_NOT_FOUND",
                    "BUNKER_NOT_FOUND",
                    "EXPORT_FAILED",
                    "EXPORT_FILE_EXISTS",
                    "EXPORT_TIMEOUT",
                    "EXPORT_S3_ERROR",
                    "EXPORT_S3_INVALID_ARGUMENT",
                    "EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS",
                    "EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT",
                    "EXPORT_S3_BUCKET_PUBLIC",
                    "EXPORT_TRADE_DESK_ERROR",
                    "EXPORT_TRADE_DESK_INVALID_ID",
                    "EXPORT_TRADE_DESK_INVALID_SECRET",
                    "EXPORT_SFTP_ERROR",
                    "EXPORT_SFTP_INVALID_CREDENTIALS",
                    "EXPORT_SFTP_INVALID_SSH_KEY",
                    "EXPORT_SFTP_CREATE_DIRECTORY_ERROR",
                    "EXPORT_SFTP_CREATE_FILE_ERROR",
                    "EXPORT_SFTP_NO_SUCH_HOST",
                    "EXPORT_SFTP_CONNECTION_REFUSED",
                    "EXPORT_GCS_ERROR",
                    "EXPORT_PUBMATIC_ERROR",
                    "EXPORT_PUBMATIC_PARTIAL_ERROR",
                    "EXPORT_PUBMATIC_UNREGISTERED_SEG",
                    "EXPORT_PUBMATIC_DPID_NOT_SUPPORTED"
                  ],
                  "default": "INTERNAL",
                  "description": "ErrorCode list possible api error codes.\n\n - INTERNAL: INTERNAL is used when no other error applies.\n - UNAUTHENTICATED: General errors\nUNAUTHENTICATED is used when the user is not authenticated.\n - ACCOUNTS_REQUIRE_FEATURE_FLAG: ACCOUNTS_REQUIRE_FEATURE_FLAG is returned when a user doesn't have the\nrequired feature flag enabled.\n - ACCOUNTS_REQUIRE_COMPANY_RIGHT: ACCOUNTS_REQUIRE_COMPANY_RIGHT is returned when a company user doesn't have\nthe required RIGHT to perform the request. The required right should be\nincluded in the error metadata as \"required_right\"\n - MISSING_REQUIRED_FIELD: MISSING_REQURIED_FIELD is return when a required field is missing in a\nrequest. The name of the required field should be included in error\nmetadata as \"required_field\".\n - ACCOUNTS_REQUIRE_COMPANY: ACCOUNTS_REQUIRE_COMPANY is returned when an endpoint requires the user be\npart of a company\n - EMPTY_PAYLOAD: EMPTY_PAYLOAD is returned when a payload is empty but is required.\n - ACTIVATION_QUERY_NOT_FOUND: ACTIVATION_QUERY_NOT_FOUND is returned when a activation query can not be\nfound.\n - COHORT_VERSION_NOT_FOUND: COHORT_VERSION_NOT_FOUND is returned when a cohort version can not be\nfound.\n - DATASET_NOT_FOUND: DATASET_NOT_FOUND is returned when a dataset can not be found.\n - UNIMPLEMENTED: UNIMPLEMENTED is returned when a path and/or method is unimplemented.\n - INVALID_ARGUMENT: INVALID_ARGUMENT is returned when a supplied field is invalid.\nThe name of the invalid field should be included in error metadata as\n\"invalid_field\". The reason why of the field is invalid should be included\nin error metadata as \"validation_message\".\n - DESTINATIONS_NOT_FOUND: Destination errors\nDESTINATIONS_NOT_FOUND is Returned when a destination can not be found.\n - DESTINATIONS_INVALID_CONNECTOR: DESTINATIONS_INVALID_CONNECTOR is returned when an invalid connector is\nprovided for destinations.\n - DESTINATION_UNKNOWN_AUTH_TYPE: DESTINATION_UNKNOWN_AUTH_TYPE is returned when an unknown authentication\ntype is provided for a destination.\n - DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME: DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME is returned when an\nunsupported field name is provided to sort the results by. The name of the\nunsupported field should be included in error metadata as\n\"unsupported_field\".\n - DESTINATIONS_INVALID_PAGINATION_INPUT: DESTINATIONS_INVALID_PAGINATION_INPUT is returned when an invalid\npagination input is provided for listing.\n - DESTINATIONS_ALREADY_EXISTS: DESTINATIONS_ALREADY_EXISTS is returned when an user tries to create a\ndestination that doesn't conform to the unique constraints.\n - ICC_INVALID_ARGUMENT: ICC_INVALID_ARGUMENT is returned when an ICC contains an invalid field\n - ICC_MALFORMED_INPUT: ICC_MALFORMED_INPUT is returned when an ICC in a request is not valid\n - ICC_NOT_FOUND: ICC_NOT_OUND is returned when a requested ICC is not found\n - ICC_PERMISSION_DENIED: ICC_PERMISSION_DENIED is returned when a request is made to an ICC resource\nwhich the user has no access to\n - ICC_UNIQUE_NAME_VIOLATION: ICC_UNIQUE_NAME_VIOLATION is returned when a user attempts to create or\nupdate an ICC with a duplicate name.\n - ICC_IN_USE_CANNOT_BE_DELETED: ICC_IN_USE_CANNOT_BE_DELETED is returned when a user attempts to delete an\nICC while it's in use by an Import.\n - ICC_ID_MUST_BE_EMPTY: ICC_ID_MUST_BE_EMPTY is returned when a user specifies the ID on creating a\nnew ICC.\n - ICC_CANNOT_BE_UPDATED: ICC_CANNOT_BE_UPDATED is returned when a user attempts to update an ICC\nthat cannot be updated. The details of the error should be included in\nerror metadata as \"error_details\".\n - TRANSFORM_FAILED: TRANSFORM_FAILED is returned when a transform pipeline fails due to a bad\nmapping\n - TRANSFORM_INVALID: TRANSFORM_INVALID is returned when a transform pipeline fails due to a\ntransformed row not matching the target output schema\n - TRANSFORM_FAILED_WRITE: TRANSFORM_FAILED_WRITE is returned when a transform pipeline fails to write\na valid row to the output target\n - TRANSFORM_EXCEEDED_ROW_ERRORS: TRANSFORM_EXCEEDED_ROW_ERRORS is returned when a transform run is aborted\ndue to exceeding the maximum number of row errors permitted\n - IMPORTS_ID_MUST_BE_EMPTY: IMPORTS_ID_MUST_BE_EMPTY is returned when a user specifies the ID on\ncreating a new Import.\n - IMPORTS_UNIQUE_NAME_VIOLATION: IMPORTS_UNIQUE_NAME_VIOLATION is returned when a user attempts to create or\nupdate an Import with a duplicate name.\n - IMPORTS_NOT_FOUND: IMPORTS_NOT_FOUND is returned when the requested Import is not found.\n - IMPORTS_EXECUTION_BUNKER_NOT_FOUND: IMPORTS_EXECUTION_BUNKER_NOT_FOUND is returned when a bunker for executing\nan Import is not found for a given user or team.\n - IMPORTS_CANNOT_CANCEL_TASK: IMPORTS_CANNOT_CANCEL_TASK is returned when a task can not be cancelled.\nThe details of the error should be included in error metadata as\n\"error_details\".\n - IMPORTS_EXECUTION_TASK_NOT_FOUND: IMPORTS_EXECUTION_TASK_NOT_FOUND is returned when the import execution task\nis not found\n - IMPORTS_CANNOT_BE_DELETED: IMPORTS_CANNOT_BE_DELETED is returned when a user attempts to delete an\nImport that cannot be deleted. The details of the error should be included\nin error metadata as \"error_details\".\n - IMPORTS_CANNOT_BE_UPDATED: IMPORTS_CANNOT_BE_UPDATED is returned when a user attempts to update an\nImport that cannot be updated. The details of the error should be included\nin error metadata as \"error_details\".\n - UNSUPPORTED_FILTER_FIELD_NAME: UNSUPPORTED_FILTER_FIELD_NAME is returned when a user attempts to filter\nthe result by an unsupported field name. The name of the unsupported field\nshould be included in error metadata as \"field_name\".\n - UNSUPPORTED_ORDER_BY_FIELD_NAME: UNSUPPORTED_ORDER_BY_FIELD_NAME is returned when a user attempts to sort\nthe results by an unsupported field name. The name of the unsupported field\nshould be included in error metadata as \"field_name\".\n - INVALID_FILTER_INPUT: INVALID_FILTER_INPUT is returned when the filter provided by the user is\nnot valid and can't be parsed. The details of the error should be included\nin error metadata as \"error_details\".\n - INVALID_UPDATE_MASK_FIELD_NAME: INVALID_UPDATE_MASK_FIELD_NAME is returned when a user attempts to update\nan immutable/invalid field. The immutable/invalid field should be included\nin error metadata as \"field_name\".\n - API_MALFORMED_INPUT: API_MALFORMED_INPUT is returned when an api user provides invalid input for\na request. The details of the error should be included in error metadata as\n\"error_details\".\n - INVALID_INPUT_VALUE: INVALID_INPUT_VALUE is returned when a user provides an invalid value for a\nfield. The details of the error should be included in error metadata as\n\"error_details\".\n - BAD_PAGE_SIZE: BAD_PAGE_SIZE is returned when the perpage value in a pagination request is\none that is not supported by the service\n - FILE_METADATA_NOT_FOUND: FILE_METADATA_NOT_FOUND is returned when the file metadata get request\ncannot be found.\n - FILE_METADATA_IN_USE: FILE_METADATA_IN_USE is returned when any update is attempted on an in use\nfile metadata record.\n - FILE_METADATA_DELETED: FILE_METADATA_DELETED is returned when any update is attempted on a deleted\nfile metadata record.\n - FILE_METADATA_ALREADY_STRUCTURED: FILE_METADATA_ALREADY_STRUCTURED is returned when any structure update is\nattempted on a structured file metadata record.\n - FILE_NOT_FOUND: FILE_NOT_FOUND is returned when the requested file cannot be found.\n - TASK_NOT_FOUND: TASK_NOT_FOUND is returned when the task get request cannot be found.\n - TASK_CANNOT_CANCEL: TASK_CANNOT_CANCEL is returned when a task cannot be cancelled.\nThe details of the error should be included in error metadata as\n\"error_details\".\n - FILEVAULT_NOT_FOUND: FILEVAULT_NOT_FOUND is returned when the filevault cannot be found for the\nrequest.\n - BUNKER_NOT_FOUND: BUNKER_NOT_FOUND is returned when the bunker cannot be found for the\nrequest.\n - EXPORT_FAILED: EXPORT errors\nEXPORT_FAILED is returned when an export fails.\n - EXPORT_FILE_EXISTS: EXPORT_FILE_EXISTS is returned when an export fails as to the output\ndestination already exists.\n - EXPORT_TIMEOUT: EXPORT_TIMEOUT is returned when exporting data timeout.\n - EXPORT_S3_ERROR: EXPORT_S3_ERROR is returned when exporting to s3 fails.\nThe aws error message should be included in error metadata as\n\"aws_error_message\".\n - EXPORT_S3_INVALID_ARGUMENT: EXPORT_S3_INVALID_ARGUMENT is returned when exporting to s3 due to an\ninvalid argument.\n - EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS: EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS is returned when using aws access keys\nand access to s3 bucket is denied.\n - EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT: EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT is returned when using aws cross\naccount and access to s3 bucket is denied. The infosum aws role arn should\nbe included in error metadata as \"aws_role_arn\".\n - EXPORT_S3_BUCKET_PUBLIC: EXPORT_S3_BUCKET_PUBLIC is returned when an s3 bucket is public.\n - EXPORT_TRADE_DESK_ERROR: EXPORT_TRADE_DESK_ERROR is returned when exporting to the trade desk fails.\n - EXPORT_TRADE_DESK_INVALID_ID: EXPORT_TRADE_DESK_INVALID_ID is returned when exporting to the trade desk\nfails due to the advertiser id not configured to accept data.\n - EXPORT_TRADE_DESK_INVALID_SECRET: EXPORT_TRADE_DESK_INVALID_SECRET is returned when exporting to the trade\ndesk due to advertiser secret key being incorrect.\n - EXPORT_SFTP_ERROR: EXPORT_SFTP_ERROR is returned when exporting to an sftp server fails.\n - EXPORT_SFTP_INVALID_CREDENTIALS: EXPORT_SFTP_INVALID_CREDENTIALS is returned when the users sftp\nusername/password is invalid.\n - EXPORT_SFTP_INVALID_SSH_KEY: EXPORT_SFTP_INVALID_SSH_KEY is returned when the users ssh key is invalid.\n - EXPORT_SFTP_CREATE_DIRECTORY_ERROR: EXPORT_SFTP_CREATE_DIRECTORY_ERROR is returned when unable to create\ncreated directories.\n - EXPORT_SFTP_CREATE_FILE_ERROR: EXPORT_SFTP_CREATE_FILE_ERROR is returned when unable to create file.\n - EXPORT_SFTP_NO_SUCH_HOST: EXPORT_SFTP_NO_SUCH_HOST is returned when the host can't be found.\n - EXPORT_SFTP_CONNECTION_REFUSED: EXPORT_SFTP_CONNECTION_REFUSED is returned when connecting to the host\nfails.\n - EXPORT_GCS_ERROR: EXPORT_GCS_ERROR is returned when exporting data to gcs fails.\n - EXPORT_PUBMATIC_ERROR: EXPORT_PUBMATIC_ERROR is returned when exporting to pubmatic fails.\n - EXPORT_PUBMATIC_PARTIAL_ERROR: EXPORT_PUBMATIC_PARTIAL_ERROR is returned when some userId failed to be\nsent to pubmatic. The percentage of successful requests sent to pubmatic\nshould be included in error metadata as \"success_rate\".\n - EXPORT_PUBMATIC_UNREGISTERED_SEG: EXPORT_PUBMATIC_UNREGISTERED_SEG is returned when all segments in the\nrequest are unregistered.\n - EXPORT_PUBMATIC_DPID_NOT_SUPPORTED: EXPORT_PUBMATIC_DPID_NOT_SUPPORTED is returned when the data provider ID\nnot supported."
                },
                "translated_error": {
                  "type": "string",
                  "title": "TranslatedError is the english translation of the ErrorCode"
                }
              },
              "description": "An error with an explanation.",
              "title": "Error"
            }
          },
          "401": {
            "description": "Returned when the user could not be authorized.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "title": "Message contains details about the error"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Metadata contains information that is used to flesh out the translated\nLocationisationId message"
                },
                "request_id": {
                  "type": "string",
                  "title": "RequestId is a unique ID for the request"
                },
                "error_code": {
                  "title": "ErrorCode is an error code which can be translated into an error message in\nthe user's language",
                  "type": "string",
                  "enum": [
                    "INTERNAL",
                    "UNAUTHENTICATED",
                    "ACCOUNTS_REQUIRE_FEATURE_FLAG",
                    "ACCOUNTS_REQUIRE_COMPANY_RIGHT",
                    "MISSING_REQUIRED_FIELD",
                    "ACCOUNTS_REQUIRE_COMPANY",
                    "EMPTY_PAYLOAD",
                    "ACTIVATION_QUERY_NOT_FOUND",
                    "COHORT_VERSION_NOT_FOUND",
                    "DATASET_NOT_FOUND",
                    "UNIMPLEMENTED",
                    "INVALID_ARGUMENT",
                    "DESTINATIONS_NOT_FOUND",
                    "DESTINATIONS_INVALID_CONNECTOR",
                    "DESTINATION_UNKNOWN_AUTH_TYPE",
                    "DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME",
                    "DESTINATIONS_INVALID_PAGINATION_INPUT",
                    "DESTINATIONS_ALREADY_EXISTS",
                    "ICC_INVALID_ARGUMENT",
                    "ICC_MALFORMED_INPUT",
                    "ICC_NOT_FOUND",
                    "ICC_PERMISSION_DENIED",
                    "ICC_UNIQUE_NAME_VIOLATION",
                    "ICC_IN_USE_CANNOT_BE_DELETED",
                    "ICC_ID_MUST_BE_EMPTY",
                    "ICC_CANNOT_BE_UPDATED",
                    "TRANSFORM_FAILED",
                    "TRANSFORM_INVALID",
                    "TRANSFORM_FAILED_WRITE",
                    "TRANSFORM_EXCEEDED_ROW_ERRORS",
                    "IMPORTS_ID_MUST_BE_EMPTY",
                    "IMPORTS_UNIQUE_NAME_VIOLATION",
                    "IMPORTS_NOT_FOUND",
                    "IMPORTS_EXECUTION_BUNKER_NOT_FOUND",
                    "IMPORTS_CANNOT_CANCEL_TASK",
                    "IMPORTS_EXECUTION_TASK_NOT_FOUND",
                    "IMPORTS_CANNOT_BE_DELETED",
                    "IMPORTS_CANNOT_BE_UPDATED",
                    "UNSUPPORTED_FILTER_FIELD_NAME",
                    "UNSUPPORTED_ORDER_BY_FIELD_NAME",
                    "INVALID_FILTER_INPUT",
                    "INVALID_UPDATE_MASK_FIELD_NAME",
                    "API_MALFORMED_INPUT",
                    "INVALID_INPUT_VALUE",
                    "BAD_PAGE_SIZE",
                    "FILE_METADATA_NOT_FOUND",
                    "FILE_METADATA_IN_USE",
                    "FILE_METADATA_DELETED",
                    "FILE_METADATA_ALREADY_STRUCTURED",
                    "FILE_NOT_FOUND",
                    "TASK_NOT_FOUND",
                    "TASK_CANNOT_CANCEL",
                    "FILEVAULT_NOT_FOUND",
                    "BUNKER_NOT_FOUND",
                    "EXPORT_FAILED",
                    "EXPORT_FILE_EXISTS",
                    "EXPORT_TIMEOUT",
                    "EXPORT_S3_ERROR",
                    "EXPORT_S3_INVALID_ARGUMENT",
                    "EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS",
                    "EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT",
                    "EXPORT_S3_BUCKET_PUBLIC",
                    "EXPORT_TRADE_DESK_ERROR",
                    "EXPORT_TRADE_DESK_INVALID_ID",
                    "EXPORT_TRADE_DESK_INVALID_SECRET",
                    "EXPORT_SFTP_ERROR",
                    "EXPORT_SFTP_INVALID_CREDENTIALS",
                    "EXPORT_SFTP_INVALID_SSH_KEY",
                    "EXPORT_SFTP_CREATE_DIRECTORY_ERROR",
                    "EXPORT_SFTP_CREATE_FILE_ERROR",
                    "EXPORT_SFTP_NO_SUCH_HOST",
                    "EXPORT_SFTP_CONNECTION_REFUSED",
                    "EXPORT_GCS_ERROR",
                    "EXPORT_PUBMATIC_ERROR",
                    "EXPORT_PUBMATIC_PARTIAL_ERROR",
                    "EXPORT_PUBMATIC_UNREGISTERED_SEG",
                    "EXPORT_PUBMATIC_DPID_NOT_SUPPORTED"
                  ],
                  "default": "INTERNAL",
                  "description": "ErrorCode list possible api error codes.\n\n - INTERNAL: INTERNAL is used when no other error applies.\n - UNAUTHENTICATED: General errors\nUNAUTHENTICATED is used when the user is not authenticated.\n - ACCOUNTS_REQUIRE_FEATURE_FLAG: ACCOUNTS_REQUIRE_FEATURE_FLAG is returned when a user doesn't have the\nrequired feature flag enabled.\n - ACCOUNTS_REQUIRE_COMPANY_RIGHT: ACCOUNTS_REQUIRE_COMPANY_RIGHT is returned when a company user doesn't have\nthe required RIGHT to perform the request. The required right should be\nincluded in the error metadata as \"required_right\"\n - MISSING_REQUIRED_FIELD: MISSING_REQURIED_FIELD is return when a required field is missing in a\nrequest. The name of the required field should be included in error\nmetadata as \"required_field\".\n - ACCOUNTS_REQUIRE_COMPANY: ACCOUNTS_REQUIRE_COMPANY is returned when an endpoint requires the user be\npart of a company\n - EMPTY_PAYLOAD: EMPTY_PAYLOAD is returned when a payload is empty but is required.\n - ACTIVATION_QUERY_NOT_FOUND: ACTIVATION_QUERY_NOT_FOUND is returned when a activation query can not be\nfound.\n - COHORT_VERSION_NOT_FOUND: COHORT_VERSION_NOT_FOUND is returned when a cohort version can not be\nfound.\n - DATASET_NOT_FOUND: DATASET_NOT_FOUND is returned when a dataset can not be found.\n - UNIMPLEMENTED: UNIMPLEMENTED is returned when a path and/or method is unimplemented.\n - INVALID_ARGUMENT: INVALID_ARGUMENT is returned when a supplied field is invalid.\nThe name of the invalid field should be included in error metadata as\n\"invalid_field\". The reason why of the field is invalid should be included\nin error metadata as \"validation_message\".\n - DESTINATIONS_NOT_FOUND: Destination errors\nDESTINATIONS_NOT_FOUND is Returned when a destination can not be found.\n - DESTINATIONS_INVALID_CONNECTOR: DESTINATIONS_INVALID_CONNECTOR is returned when an invalid connector is\nprovided for destinations.\n - DESTINATION_UNKNOWN_AUTH_TYPE: DESTINATION_UNKNOWN_AUTH_TYPE is returned when an unknown authentication\ntype is provided for a destination.\n - DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME: DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME is returned when an\nunsupported field name is provided to sort the results by. The name of the\nunsupported field should be included in error metadata as\n\"unsupported_field\".\n - DESTINATIONS_INVALID_PAGINATION_INPUT: DESTINATIONS_INVALID_PAGINATION_INPUT is returned when an invalid\npagination input is provided for listing.\n - DESTINATIONS_ALREADY_EXISTS: DESTINATIONS_ALREADY_EXISTS is returned when an user tries to create a\ndestination that doesn't conform to the unique constraints.\n - ICC_INVALID_ARGUMENT: ICC_INVALID_ARGUMENT is returned when an ICC contains an invalid field\n - ICC_MALFORMED_INPUT: ICC_MALFORMED_INPUT is returned when an ICC in a request is not valid\n - ICC_NOT_FOUND: ICC_NOT_OUND is returned when a requested ICC is not found\n - ICC_PERMISSION_DENIED: ICC_PERMISSION_DENIED is returned when a request is made to an ICC resource\nwhich the user has no access to\n - ICC_UNIQUE_NAME_VIOLATION: ICC_UNIQUE_NAME_VIOLATION is returned when a user attempts to create or\nupdate an ICC with a duplicate name.\n - ICC_IN_USE_CANNOT_BE_DELETED: ICC_IN_USE_CANNOT_BE_DELETED is returned when a user attempts to delete an\nICC while it's in use by an Import.\n - ICC_ID_MUST_BE_EMPTY: ICC_ID_MUST_BE_EMPTY is returned when a user specifies the ID on creating a\nnew ICC.\n - ICC_CANNOT_BE_UPDATED: ICC_CANNOT_BE_UPDATED is returned when a user attempts to update an ICC\nthat cannot be updated. The details of the error should be included in\nerror metadata as \"error_details\".\n - TRANSFORM_FAILED: TRANSFORM_FAILED is returned when a transform pipeline fails due to a bad\nmapping\n - TRANSFORM_INVALID: TRANSFORM_INVALID is returned when a transform pipeline fails due to a\ntransformed row not matching the target output schema\n - TRANSFORM_FAILED_WRITE: TRANSFORM_FAILED_WRITE is returned when a transform pipeline fails to write\na valid row to the output target\n - TRANSFORM_EXCEEDED_ROW_ERRORS: TRANSFORM_EXCEEDED_ROW_ERRORS is returned when a transform run is aborted\ndue to exceeding the maximum number of row errors permitted\n - IMPORTS_ID_MUST_BE_EMPTY: IMPORTS_ID_MUST_BE_EMPTY is returned when a user specifies the ID on\ncreating a new Import.\n - IMPORTS_UNIQUE_NAME_VIOLATION: IMPORTS_UNIQUE_NAME_VIOLATION is returned when a user attempts to create or\nupdate an Import with a duplicate name.\n - IMPORTS_NOT_FOUND: IMPORTS_NOT_FOUND is returned when the requested Import is not found.\n - IMPORTS_EXECUTION_BUNKER_NOT_FOUND: IMPORTS_EXECUTION_BUNKER_NOT_FOUND is returned when a bunker for executing\nan Import is not found for a given user or team.\n - IMPORTS_CANNOT_CANCEL_TASK: IMPORTS_CANNOT_CANCEL_TASK is returned when a task can not be cancelled.\nThe details of the error should be included in error metadata as\n\"error_details\".\n - IMPORTS_EXECUTION_TASK_NOT_FOUND: IMPORTS_EXECUTION_TASK_NOT_FOUND is returned when the import execution task\nis not found\n - IMPORTS_CANNOT_BE_DELETED: IMPORTS_CANNOT_BE_DELETED is returned when a user attempts to delete an\nImport that cannot be deleted. The details of the error should be included\nin error metadata as \"error_details\".\n - IMPORTS_CANNOT_BE_UPDATED: IMPORTS_CANNOT_BE_UPDATED is returned when a user attempts to update an\nImport that cannot be updated. The details of the error should be included\nin error metadata as \"error_details\".\n - UNSUPPORTED_FILTER_FIELD_NAME: UNSUPPORTED_FILTER_FIELD_NAME is returned when a user attempts to filter\nthe result by an unsupported field name. The name of the unsupported field\nshould be included in error metadata as \"field_name\".\n - UNSUPPORTED_ORDER_BY_FIELD_NAME: UNSUPPORTED_ORDER_BY_FIELD_NAME is returned when a user attempts to sort\nthe results by an unsupported field name. The name of the unsupported field\nshould be included in error metadata as \"field_name\".\n - INVALID_FILTER_INPUT: INVALID_FILTER_INPUT is returned when the filter provided by the user is\nnot valid and can't be parsed. The details of the error should be included\nin error metadata as \"error_details\".\n - INVALID_UPDATE_MASK_FIELD_NAME: INVALID_UPDATE_MASK_FIELD_NAME is returned when a user attempts to update\nan immutable/invalid field. The immutable/invalid field should be included\nin error metadata as \"field_name\".\n - API_MALFORMED_INPUT: API_MALFORMED_INPUT is returned when an api user provides invalid input for\na request. The details of the error should be included in error metadata as\n\"error_details\".\n - INVALID_INPUT_VALUE: INVALID_INPUT_VALUE is returned when a user provides an invalid value for a\nfield. The details of the error should be included in error metadata as\n\"error_details\".\n - BAD_PAGE_SIZE: BAD_PAGE_SIZE is returned when the perpage value in a pagination request is\none that is not supported by the service\n - FILE_METADATA_NOT_FOUND: FILE_METADATA_NOT_FOUND is returned when the file metadata get request\ncannot be found.\n - FILE_METADATA_IN_USE: FILE_METADATA_IN_USE is returned when any update is attempted on an in use\nfile metadata record.\n - FILE_METADATA_DELETED: FILE_METADATA_DELETED is returned when any update is attempted on a deleted\nfile metadata record.\n - FILE_METADATA_ALREADY_STRUCTURED: FILE_METADATA_ALREADY_STRUCTURED is returned when any structure update is\nattempted on a structured file metadata record.\n - FILE_NOT_FOUND: FILE_NOT_FOUND is returned when the requested file cannot be found.\n - TASK_NOT_FOUND: TASK_NOT_FOUND is returned when the task get request cannot be found.\n - TASK_CANNOT_CANCEL: TASK_CANNOT_CANCEL is returned when a task cannot be cancelled.\nThe details of the error should be included in error metadata as\n\"error_details\".\n - FILEVAULT_NOT_FOUND: FILEVAULT_NOT_FOUND is returned when the filevault cannot be found for the\nrequest.\n - BUNKER_NOT_FOUND: BUNKER_NOT_FOUND is returned when the bunker cannot be found for the\nrequest.\n - EXPORT_FAILED: EXPORT errors\nEXPORT_FAILED is returned when an export fails.\n - EXPORT_FILE_EXISTS: EXPORT_FILE_EXISTS is returned when an export fails as to the output\ndestination already exists.\n - EXPORT_TIMEOUT: EXPORT_TIMEOUT is returned when exporting data timeout.\n - EXPORT_S3_ERROR: EXPORT_S3_ERROR is returned when exporting to s3 fails.\nThe aws error message should be included in error metadata as\n\"aws_error_message\".\n - EXPORT_S3_INVALID_ARGUMENT: EXPORT_S3_INVALID_ARGUMENT is returned when exporting to s3 due to an\ninvalid argument.\n - EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS: EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS is returned when using aws access keys\nand access to s3 bucket is denied.\n - EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT: EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT is returned when using aws cross\naccount and access to s3 bucket is denied. The infosum aws role arn should\nbe included in error metadata as \"aws_role_arn\".\n - EXPORT_S3_BUCKET_PUBLIC: EXPORT_S3_BUCKET_PUBLIC is returned when an s3 bucket is public.\n - EXPORT_TRADE_DESK_ERROR: EXPORT_TRADE_DESK_ERROR is returned when exporting to the trade desk fails.\n - EXPORT_TRADE_DESK_INVALID_ID: EXPORT_TRADE_DESK_INVALID_ID is returned when exporting to the trade desk\nfails due to the advertiser id not configured to accept data.\n - EXPORT_TRADE_DESK_INVALID_SECRET: EXPORT_TRADE_DESK_INVALID_SECRET is returned when exporting to the trade\ndesk due to advertiser secret key being incorrect.\n - EXPORT_SFTP_ERROR: EXPORT_SFTP_ERROR is returned when exporting to an sftp server fails.\n - EXPORT_SFTP_INVALID_CREDENTIALS: EXPORT_SFTP_INVALID_CREDENTIALS is returned when the users sftp\nusername/password is invalid.\n - EXPORT_SFTP_INVALID_SSH_KEY: EXPORT_SFTP_INVALID_SSH_KEY is returned when the users ssh key is invalid.\n - EXPORT_SFTP_CREATE_DIRECTORY_ERROR: EXPORT_SFTP_CREATE_DIRECTORY_ERROR is returned when unable to create\ncreated directories.\n - EXPORT_SFTP_CREATE_FILE_ERROR: EXPORT_SFTP_CREATE_FILE_ERROR is returned when unable to create file.\n - EXPORT_SFTP_NO_SUCH_HOST: EXPORT_SFTP_NO_SUCH_HOST is returned when the host can't be found.\n - EXPORT_SFTP_CONNECTION_REFUSED: EXPORT_SFTP_CONNECTION_REFUSED is returned when connecting to the host\nfails.\n - EXPORT_GCS_ERROR: EXPORT_GCS_ERROR is returned when exporting data to gcs fails.\n - EXPORT_PUBMATIC_ERROR: EXPORT_PUBMATIC_ERROR is returned when exporting to pubmatic fails.\n - EXPORT_PUBMATIC_PARTIAL_ERROR: EXPORT_PUBMATIC_PARTIAL_ERROR is returned when some userId failed to be\nsent to pubmatic. The percentage of successful requests sent to pubmatic\nshould be included in error metadata as \"success_rate\".\n - EXPORT_PUBMATIC_UNREGISTERED_SEG: EXPORT_PUBMATIC_UNREGISTERED_SEG is returned when all segments in the\nrequest are unregistered.\n - EXPORT_PUBMATIC_DPID_NOT_SUPPORTED: EXPORT_PUBMATIC_DPID_NOT_SUPPORTED is returned when the data provider ID\nnot supported."
                },
                "translated_error": {
                  "type": "string",
                  "title": "TranslatedError is the english translation of the ErrorCode"
                }
              },
              "description": "An error with an explanation.",
              "title": "Error"
            }
          },
          "403": {
            "description": "Returned when the user does not have the required permission.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "title": "Message contains details about the error"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Metadata contains information that is used to flesh out the translated\nLocationisationId message"
                },
                "request_id": {
                  "type": "string",
                  "title": "RequestId is a unique ID for the request"
                },
                "error_code": {
                  "title": "ErrorCode is an error code which can be translated into an error message in\nthe user's language",
                  "type": "string",
                  "enum": [
                    "INTERNAL",
                    "UNAUTHENTICATED",
                    "ACCOUNTS_REQUIRE_FEATURE_FLAG",
                    "ACCOUNTS_REQUIRE_COMPANY_RIGHT",
                    "MISSING_REQUIRED_FIELD",
                    "ACCOUNTS_REQUIRE_COMPANY",
                    "EMPTY_PAYLOAD",
                    "ACTIVATION_QUERY_NOT_FOUND",
                    "COHORT_VERSION_NOT_FOUND",
                    "DATASET_NOT_FOUND",
                    "UNIMPLEMENTED",
                    "INVALID_ARGUMENT",
                    "DESTINATIONS_NOT_FOUND",
                    "DESTINATIONS_INVALID_CONNECTOR",
                    "DESTINATION_UNKNOWN_AUTH_TYPE",
                    "DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME",
                    "DESTINATIONS_INVALID_PAGINATION_INPUT",
                    "DESTINATIONS_ALREADY_EXISTS",
                    "ICC_INVALID_ARGUMENT",
                    "ICC_MALFORMED_INPUT",
                    "ICC_NOT_FOUND",
                    "ICC_PERMISSION_DENIED",
                    "ICC_UNIQUE_NAME_VIOLATION",
                    "ICC_IN_USE_CANNOT_BE_DELETED",
                    "ICC_ID_MUST_BE_EMPTY",
                    "ICC_CANNOT_BE_UPDATED",
                    "TRANSFORM_FAILED",
                    "TRANSFORM_INVALID",
                    "TRANSFORM_FAILED_WRITE",
                    "TRANSFORM_EXCEEDED_ROW_ERRORS",
                    "IMPORTS_ID_MUST_BE_EMPTY",
                    "IMPORTS_UNIQUE_NAME_VIOLATION",
                    "IMPORTS_NOT_FOUND",
                    "IMPORTS_EXECUTION_BUNKER_NOT_FOUND",
                    "IMPORTS_CANNOT_CANCEL_TASK",
                    "IMPORTS_EXECUTION_TASK_NOT_FOUND",
                    "IMPORTS_CANNOT_BE_DELETED",
                    "IMPORTS_CANNOT_BE_UPDATED",
                    "UNSUPPORTED_FILTER_FIELD_NAME",
                    "UNSUPPORTED_ORDER_BY_FIELD_NAME",
                    "INVALID_FILTER_INPUT",
                    "INVALID_UPDATE_MASK_FIELD_NAME",
                    "API_MALFORMED_INPUT",
                    "INVALID_INPUT_VALUE",
                    "BAD_PAGE_SIZE",
                    "FILE_METADATA_NOT_FOUND",
                    "FILE_METADATA_IN_USE",
                    "FILE_METADATA_DELETED",
                    "FILE_METADATA_ALREADY_STRUCTURED",
                    "FILE_NOT_FOUND",
                    "TASK_NOT_FOUND",
                    "TASK_CANNOT_CANCEL",
                    "FILEVAULT_NOT_FOUND",
                    "BUNKER_NOT_FOUND",
                    "EXPORT_FAILED",
                    "EXPORT_FILE_EXISTS",
                    "EXPORT_TIMEOUT",
                    "EXPORT_S3_ERROR",
                    "EXPORT_S3_INVALID_ARGUMENT",
                    "EXPORT_S3_ACCESS_DENIED_ACCESS_KEYS",
                    "EXPORT_S3_ACCESS_DENIED_CROSS_ACCOUNT",
                    "EXPORT_S3_BUCKET_PUBLIC",
                    "EXPORT_TRADE_DESK_ERROR",
                    "EXPORT_TRADE_DESK_INVALID_ID",
                    "EXPORT_TRADE_DESK_INVALID_SECRET",
                    "EXPORT_SFTP_ERROR",
                    "EXPORT_SFTP_INVALID_CREDENTIALS",
                    "EXPORT_SFTP_INVALID_SSH_KEY",
                    "EXPORT_SFTP_CREATE_DIRECTORY_ERROR",
                    "EXPORT_SFTP_CREATE_FILE_ERROR",
                    "EXPORT_SFTP_NO_SUCH_HOST",
                    "EXPORT_SFTP_CONNECTION_REFUSED",
                    "EXPORT_GCS_ERROR",
                    "EXPORT_PUBMATIC_ERROR",
                    "EXPORT_PUBMATIC_PARTIAL_ERROR",
                    "EXPORT_PUBMATIC_UNREGISTERED_SEG",
                    "EXPORT_PUBMATIC_DPID_NOT_SUPPORTED"
                  ],
                  "default": "INTERNAL",
                  "description": "ErrorCode list possible api error codes.\n\n - INTERNAL: INTERNAL is used when no other error applies.\n - UNAUTHENTICATED: General errors\nUNAUTHENTICATED is used when the user is not authenticated.\n - ACCOUNTS_REQUIRE_FEATURE_FLAG: ACCOUNTS_REQUIRE_FEATURE_FLAG is returned when a user doesn't have the\nrequired feature flag enabled.\n - ACCOUNTS_REQUIRE_COMPANY_RIGHT: ACCOUNTS_REQUIRE_COMPANY_RIGHT is returned when a company user doesn't have\nthe required RIGHT to perform the request. The required right should be\nincluded in the error metadata as \"required_right\"\n - MISSING_REQUIRED_FIELD: MISSING_REQURIED_FIELD is return when a required field is missing in a\nrequest. The name of the required field should be included in error\nmetadata as \"required_field\".\n - ACCOUNTS_REQUIRE_COMPANY: ACCOUNTS_REQUIRE_COMPANY is returned when an endpoint requires the user be\npart of a company\n - EMPTY_PAYLOAD: EMPTY_PAYLOAD is returned when a payload is empty but is required.\n - ACTIVATION_QUERY_NOT_FOUND: ACTIVATION_QUERY_NOT_FOUND is returned when a activation query can not be\nfound.\n - COHORT_VERSION_NOT_FOUND: COHORT_VERSION_NOT_FOUND is returned when a cohort version can not be\nfound.\n - DATASET_NOT_FOUND: DATASET_NOT_FOUND is returned when a dataset can not be found.\n - UNIMPLEMENTED: UNIMPLEMENTED is returned when a path and/or method is unimplemented.\n - INVALID_ARGUMENT: INVALID_ARGUMENT is returned when a supplied field is invalid.\nThe name of the invalid field should be included in error metadata as\n\"invalid_field\". The reason why of the field is invalid should be included\nin error metadata as \"validation_message\".\n - DESTINATIONS_NOT_FOUND: Destination errors\nDESTINATIONS_NOT_FOUND is Returned when a destination can not be found.\n - DESTINATIONS_INVALID_CONNECTOR: DESTINATIONS_INVALID_CONNECTOR is returned when an invalid connector is\nprovided for destinations.\n - DESTINATION_UNKNOWN_AUTH_TYPE: DESTINATION_UNKNOWN_AUTH_TYPE is returned when an unknown authentication\ntype is provided for a destination.\n - DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME: DESTINATIONS_UNSUPPORTED_ORDER_BY_FIELD_NAME is returned when an\nunsupported field name is provided to sort the results by. The name of the\nunsupported field should be included in error metadata as\n\"unsupported_field\".\n - DESTINATIONS_INVALID_PAGINATION_INPUT: DESTINATIONS_INVALID_PAGINATION_INPUT is returned when an invalid\npagination input is provided for listing.\n - DESTINATIONS_ALREADY_EXISTS: DESTINATIONS_ALREADY_EXISTS is returned when an user tries to create a\ndestination that doesn't conform to the unique constraints.\n - ICC_INVALID_ARGUMENT: ICC_INVALID_ARGUMENT is returned when an ICC contains an invalid field\n - ICC_MALFORMED_INPUT: ICC_MALFORMED_INPUT is returned when an ICC in a request is not valid\n - ICC_NOT_FOUND: ICC_NOT_OUND is returned when a requested ICC is not found\n - ICC_PERMISSION_DENIED: ICC_PERMISSION_DENIED is returned when a request is made to an ICC resource\nwhich the user has no access to\n - ICC_UNIQUE_NAME_VIOLATION: ICC_UNIQUE_NAME_VIOLATION is returned when a user attempts to create or\nupdate an ICC with a duplicate name.\n - ICC_IN_USE_CANNOT_BE_DELETED: ICC_IN_USE_CANNOT_BE_DELETED is returned when a user attempts to delete an\nICC while it's in use by an Import.\n - ICC_ID_MUST_BE_EMPTY: ICC_ID_MUST_BE_EMPTY is returned when a user specifies the ID on creating a\nnew ICC.\n - ICC_CANNOT_BE_UPDATED: ICC_CANNOT_BE_UPDATED is returned when a user attempts to update an ICC\nthat cannot be updated. The details of the error should be included in\nerror metadata as \"error_details\".\n - TRANSFORM_FAILED: TRANSFORM_FAILED is returned when a transform pipeline fails due to a bad\nmapping\n - TRANSFORM_INVALID: TRANSFORM_INVALID is returned when a transform pipeline fails due to a\ntransformed row not matching the target output schema\n - TRANSFORM_FAILED_WRITE: TRANSFORM_FAILED_WRITE is returned wh
[...]
