/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--background--fill);
  color:  var(--text--color);
  font-family: Circular,sans-serif;
  justify-content: center;
  padding-bottom: 1rem;
  background-image: url('../../static/img/halftone-right.svg');
  background-repeat: no-repeat;
  background-size:auto;
  background-position: right bottom;
  flex-grow: 1;
}

.heroContainer{
  font-size: 2.4rem;
  max-width: 40rem;
}

.heroText{
  margin-bottom: 2rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
