/*-- Nav bar --*/
.navbar--fixed-top {
    background: #13294b;
    color: #ffffff;
    border-bottom: 4px #F28B2C solid;
}

.navbar--fixed-top a {
    color: #ffffff;
}

.navbar--fixed-top a:hover {
    color: #F28B2C;
}

/*-- Footer --*/
.footer.footer--dark {
    background: #0f203c;
    color: #ffffff;
    border-top: 4px #F28B2C solid;
}

/*-- BUTTON --*/
.button.button--secondary {
    background: #F28B2C;
    color: #ffffff;
    border: transparent;
    border-radius: 1em;
}

.button.button--secondary:hover {
    background: #6cace4;
    color: #ffffff;
    border: transparent;
}

/*---MENU--*/
.menu-content,
[class*='sidebar'] {
    background: #0f203c;
}
[class*='sidebar'] .menu__link {
    color: #dadde1;
}