/*-- Nav bar --*/
.navbar--fixed-top {
    background: var(--swatch--navy);
    color: white;
    border-bottom: 4px var(--swatch--orange) solid;
}

.navbar--fixed-top a {
    color: white;
    background: var(--swatch--navy);
}

.navbar--fixed-top a:hover {
    color:var(--swatch--orange);
}

.dropdown__menu {
    background: var(--swatch--navy);
}

/*-- Footer --*/
.footer.footer--dark {
    background: var(--swatch--navy);
    color: white;
    border-top: 4px var(--swatch--orange) solid;
}

/*-- BUTTON --*/
.button.button--secondary {
    background: var(--swatch--orange);
    color: white;
    border: transparent;
    border-radius: 1em;
}

.button.button--secondary:hover {
    background: var(--swatch--blue);
    color:  white;
    border: transparent;
}

